[2016-08-01 18:32] rpastorelle opened #2 "Publish version next to NPM"
The latest changes from d99c3261bb36c5a8d8484c12e0018eccfd83337c are not available via NPM.

[2016-08-01 20:26] ptomasroos commented on #2
Will publish a new ver tomorrow. Thanks for reminder!

[2016-08-08 13:48] #2 closed

[2016-09-16 06:27] zeffon opened #5 "MultiSlider can't display completely in android"
Hi,
Thanks for your react-native-multi-slider.
I use MultiSlider run it in my android emulator but can't display completely.
My package.json info is:
  "dependencies": {
    "babel-preset-react-native-stage-0": "*",
    "react": "^15.3.1",
    "react-native": "^0.32.0",
    "react-native-carousel": "^0.10.0",
    "react-native-form-generator": "^0.9.9",
    "react-native-multi-slider": "^0.3.5",

[2016-09-16 13:42] ptomasroos commented on #5
Hey!

You've included the wrong npm package name.

You should be using "@ptomasroos/react-native-multi-slider": "0.0.4",

And remove the one called "react-native-multi-slider": "^0.3.5",

[2016-11-25 09:39] skv-headless opened #6 "Example doesn't work"
but it work if import ```ptomasroos/react-native-multi-slider``` here https://github.com/ptomasroos/react-native-multi-slider/blob/master/example/Example.js#L14

[2016-11-25 09:40] skv-headless commented on #6
![1480066711458](https://cloud.githubusercontent.com/assets/1488195/20620753/af2b440e-b314-11e6-8cc7-9870137ff943.jpg)

[2016-11-25 09:41] skv-headless opened #7 "Example doesn't work in my shiny new xcode 8"
react-native version is to old. update it?

[2016-11-25 09:42] skv-headless commented on #7
![1480066942008](https://cloud.githubusercontent.com/assets/1488195/20620810/02f63d14-b315-11e6-8e28-40f6c8e2792b.jpg)

[2016-11-25 09:49] ptomasroos commented on #7
Yup! do it

[2016-11-25 09:50] ptomasroos commented on #6
Did you npm install in the example/Example as well? Since it moves the lib files over there.

[2016-11-25 09:55] skv-headless commented on #6
Yes. Npm 3. Node 7

[2016-11-25 10:20] ptomasroos commented on #6
Thanks! I've fixed the example now!

[2016-11-25 10:20] #6 closed

[2016-11-25 10:21] ptomasroos commented on #7
Upgraded project files to RN 0.38 now. Works fine on Xcode 8

[2016-11-25 10:21] #7 closed

[2016-12-12 05:14] raviteja83 opened #8 "[Request] show min max values below marker position"
show min max values below the marker and update the values as the marker position changes

[2016-12-15 20:24] zaach opened #9 "Update react-native peer dependency"
react-native `0.39.2` is out but using it causes an npm warning from react-native-multi-slider.

[2016-12-15 20:30] ptomasroos commented on #9
Thanks will fix!

[2016-12-15 20:31] ptomasroos commented on #8
Can you expand the issue? Not sure I follow the problem.

[2016-12-15 20:38] ptomasroos commented on #9
This is now solved in 0.0.7

[2016-12-15 20:38] #9 closed

[2016-12-27 01:42] mjwpcool opened #10 "The left marker was disappeared frequently"
The left marker was disappeared when I slided it left to right and right to left

[2016-12-28 10:07] ptomasroos commented on #10
Which version are you trying this on?

[2016-12-28 11:13] sergiocloud commented on #5
I have this problem, and I have the right version.

When I use my custom marker, this isn't rendered in Android:

`
renderMarker() {
return(
			<View style={{backgroundColor: Commons.Colors.white, height: 26*initialScale, width: 26*initialScale, borderWidth: 2, borderColor: Commons.Colors.orange, borderRadius: 13*initialScale}} />
		)
	}
`

[2016-12-28 11:57] ptomasroos commented on #5
Can you post for package.json?

[2016-12-28 12:03] sergiocloud commented on #5
Sure:

{
  "name": "bookaffinity",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start"
  },
  "dependencies": {
    "firebase": "^3.4.1",
    "react": "15.3.2",
    "react-native": "^0.34.1",
    "react-native-autocomplete-input": "^1.1.2",
    "react-native-barcode-scanner-universal": "^1.0.5",
    "react-native-barcodescann

[2016-12-28 12:11] ptomasroos commented on #5
You're using react-native-multi-slider, Thats a different package then mine. You should report this bug over at that package https://github.com/JackDanielsAndCode/react-native-multi-slider

[2016-12-28 12:16] ptomasroos commented on #5
If you still want to use this package I would suggest you to update package.json to "@ptomasroos/react-native-multi-slider" and change your imports

[2016-12-28 12:16] #5 closed

[2016-12-28 16:16] sergiocloud commented on #5
Finally I'm using your repo. Thanks!

[2017-01-10 05:48] AnyGong opened #11 "Android(bug):Does not work with Navigator gestures"
When Navigator gestures are turned on the gestures take over and the and instead of the slider moving the screen gets dragged to the previous/next scene.

` "@ptomasroos/react-native-multi-slider": "0.0.6"`,

` "react": "15.4.1"`,

` "react-native": "0.39.0",`

[2017-01-18 11:33] ptomasroos commented on #11
Interesting. Have you looked into any more?

[2017-01-18 11:33] ptomasroos commented on #8
Closing because of inactivity

[2017-01-18 11:33] #8 closed

[2017-01-18 11:33] ptomasroos commented on #10
@mjwpcool any comment?

[2017-01-18 12:54] ptomasroos commented on #11
This is sadly a issue existing in the main repo without a clear solution to it https://github.com/facebook/react-native/issues/1046#issuecomment-269449984

[2017-01-31 20:55] MikeDabrowski opened #12 "Slider callback not working"
Callback value is not updating when sliding bar. It can be seen also on example gif.

Edit1: typos in
sliderOneValuesChangeStart
sliderOneValuesChange
sliderOneValuesChangeFinish
- first letter was capital. Fixing this causes:
"undefined is not a function (evaluating 'this.setState({sliderOneChanging:true})')

[2017-01-31 21:22] MikeDabrowski commented on #12
using  `= () => {` solves the issue. My mistake.

[2017-01-31 21:22] #12 closed

[2017-01-31 21:36] ptomasroos commented on #12
👍

[2017-02-17 08:35] #10 closed

[2017-02-28 16:09] #11 closed

[2017-04-19 09:53] TheMarsGuy opened #14 "Disable logging(console.log)"
I would like to disable logging when there is a change in the values. Is there a way to that?

[2017-04-25 06:59] ptomasroos commented on #14
Hey! Sorry for slow response, missed your issue. Will remove them from the code and publish a new version @TheMarsGuy

[2017-04-25 08:09] #14 closed

[2017-05-08 10:53] TheMarsGuy opened #15 "Vertical Orientation"
Does this package support vertical orientation? If not will this be added to the package sometime?

[2017-05-08 11:33] ptomasroos commented on #15
Good one. Never thought about it. Should be quite easy.

Wanna submit a pr?

[2017-05-09 09:45] bristoljon opened #16 "Docs"
Are there any docs for this? Super confused as the api seems to be the same as [this package](https://github.com/JackDanielsAndCode/react-native-multi-slider) but there is no reference to it as far as I can see.

Thanks, Jon

[2017-05-09 10:01] ptomasroos commented on #16
Hey @bristoljon

The package you're referring to does not support Android.
Api is very much the same yes!

Docs are in the running example app which you can find in the repository

[2017-05-09 10:01] #16 closed

[2017-05-27 17:36] joshjconlin commented on #15
easy man, just play with the containerStyle, you should be able to do it pretty easy using flexbox

[2017-05-31 18:57] RamonAcedoM opened #21 "Two or more multisliders revert to values={} position on updateState"
I have two MultiSliders in a Form which contains an Age Range selector and Height range selector.

Everything works fine until the following steps:

1. Select (drag the markers) to a desired position from MultiSlider No. 1
2. Update state onValuesChange
3. Select (drag the markers) to a desired position from MultiSlider No. 2
4. Update state onValuesChange

Now MultiSlider No. 1 markers are revert

[2017-05-31 19:52] ptomasroos commented on #21
Yes, thats because thats how React works.

when you call setState, you're layout will redraw it self. And there for you'll need to preserve the state from both components and use those values in the rendering cycle otherwise those are flushed next time something was rendered.

If you don't want to rerender something then there is no need to call this.setState({...})

rather (data) => { this.height

[2017-05-31 19:52] #21 closed

[2017-05-31 20:04] RamonAcedoM commented on #21
Well, since i do need to update the labels that indicate the current range of the value i need to call setState to update those labels.

[2017-05-31 20:10] RamonAcedoM commented on #21
Rookie mistake, i need to rest...

Thanks

[2017-05-31 20:16] ptomasroos commented on #21
Its all right, we all make them!

[2017-06-12 11:03] JonasWho opened #23 "touchDimensions not used"
touchDimensions.height and touchDimensions.width don't seem to be used for anything in MultiSlider.js?

[2017-06-12 11:59] ptomasroos commented on #23
Hey, yep seems like a miss!
Wanna send a PR to remove them?

[2017-06-12 12:10] JonasWho commented on #23
@ptomasroos but shouldn't they be implemented instead? I might have fixed them so that they work. Still testing...

[2017-06-13 18:20] tsaohucn opened #24 "The value range are only for 0 to 10?"
I used multi-slider and set the value for example [20,50], bit it doesn't work, it only work when I set value [0.10] or [3,7] .., so it seems the value   range are limited in 0~10 ?

[2017-06-13 18:51] ptomasroos commented on #24
Have you tried passing in the props, min, max, step?

These are by default

[code]

[2017-06-14 13:39] ptomasroos commented on #24
@tsaohucn

Did you get it up and running?

[2017-06-15 18:39] tsaohucn commented on #24
@ptomasroos , I set  the props, min, max, step, and it work now, thanks, but is there any document describe the API information ?

[2017-06-15 20:54] ptomasroos commented on #24
Will add to the readme. Feel free to send a pr.

Otherwise the runnable example.

Glad it worked out!

[2017-06-15 20:54] #24 closed

[2017-07-13 18:00] pensierinmusica opened #25 "Bottom margin"
Hi,

It looks like the component has a significant bottom margin included with it. Can you please remove it? So the developer can choose whatever margin is needed for the project. Thanks!

[2017-07-13 18:17] ptomasroos commented on #25
Sure thing makes sense. Do you wanna send a pr ?

[2017-08-01 10:19] janneklouman opened #26 "Allow custom left/right marker offsets"
I want to adjust the `left` and `right` properties of `markerContainerOne` and `markerContainerTwo` respectively, to mimic the the `react-native` `Slider`'s marker behavior (which uses marker outer edge as "value indicator", rather than the center of the marker like this component). However it seems the value 24 is hardcoded:

[code]

I'm not sure what the best solution to this is, perhaps adding

[2017-08-01 10:47] ptomasroos commented on #26
Yes!

That sounds like a viable solution. Sorry for it being hardcoded.

Do you mind sending a pull request?

[2017-08-01 11:41] janneklouman commented on #26
Thank you for the quick response!

I've created a pull request https://github.com/ptomasroos/react-native-multi-slider/pull/27

[2017-08-01 12:11] ptomasroos commented on #23
Any news @JonasWho ?

[2017-08-03 22:25] easilver opened #28 "Need to update latest version with npm"
I'm finding this multi-slider really handy, but the library in npm is out of date; when I install I am not getting your most recent changes. Would you be able to update that?

I would really love to use the enable/disable functionality you added a few months back but I'm not getting those changes when I npm install.

[2017-08-04 04:26] ptomasroos commented on #28
I will fix that on Monday. Sorry for not releasing a version sooner.

[2017-08-07 10:32] ptomasroos commented on #28
A new version 0.0.9 has been published to npm!

[2017-08-07 10:32] #28 closed

[2017-08-22 08:03] #26 closed

[2017-08-22 08:03] ptomasroos commented on #15
Will close since its idling

[2017-08-22 08:03] #15 closed

[2017-08-22 08:04] ptomasroos commented on #25
Will try to fix this during this week.

[2017-08-23 21:00] jackread opened #31 "sliderValueChangeStart not firing"
Should this...
<pre><code>startOne = () => {
    if (this.state.enabledOne) {
      this.props.onValuesChangeStart();
      this.setState({
        onePressed: !this.state.onePressed,
      });
    }
  };

  startTwo = () => {
    if (this.state.enabledTwo) {
      this.props.onValuesChangeStart();
      this.setState({
        twoPressed: !this.state.twoPressed,
      });
    }
  };</code></pre>

[2017-08-24 04:00] ptomasroos commented on #31
Yes that bug was just fixed a day a go.
If you update to the latest version it should be working as expected.

Thank you very much for finding the bug!

[2017-08-24 10:16] jchesne opened #32 "Allow vertical orientation"
Hello,

I would like to use this component vertically, do you think it is possible ?

[2017-08-24 11:28] jchesne commented on #15
Is it possible to show an exemple on how to do this ?

[2017-08-25 15:48] damikdk opened #33 "Marker size on Android"
Thank you for library. It's only way to make filters on android, but I have issue.

When I touch marker and release it, marker getting small. For the next time, it will returns to initial size. It is only happened with delay on touch out, only on Android.

I see, it should be like native Android slider (regular size marker - touch in - big size marker - touch out - regular size marker), but it's n

[2017-08-26 06:15] ptomasroos commented on #33
Hey @damikdk I will try to check this issue during next week!

[2017-08-26 06:15] ptomasroos commented on #32
I will try to add it to the example repo during next week! @jchesne

[2017-08-26 06:15] #31 closed

[2017-09-05 12:31] damikdk commented on #33
Any news? I forgot to say, we use Expo!

[2017-09-07 09:03] ptomasroos commented on #33
Hey @damikdk sorry for being a bit slow on this, if you could give me a hand with creating a reproduction example in expo I will make sure to fix the bug. Does that sound like a good deal?

[2017-09-07 13:15] damikdk commented on #33
Sorry, but I can't even run this [expo snack](https://snack.expo.io/HJcGra0YZ). I have issue even on default slider, on any real android device with Expo.

[2017-09-10 03:45] wbattel4607 opened #35 "Updating from 0.0.8 to 0.0.10 caused onValuesChangeStart to cease functioning- but onValuesChangeFinish still works"
Nothing else changed except my updating @ptomasroos/react-native-multi-slider from "0.0.8" to "0.0.10" in package.json and reinstalling/linking the node module.

What's especially weird is that onValuesChangeStart is not firing, but onValuesChangeFinish is- despite me giving them the same exact code save for "Start" and "Finish"

Has anyone else had this problem? It has the same issue regardless o

[2017-09-10 06:57] wbattel4607 commented on #35
Just updated to 0.0.11 and now it's working again...

¯\_(ツ)_/¯

[2017-09-10 06:57] #35 closed

[2017-09-10 07:03] ptomasroos commented on #35
Thanks for updating the issue !

[2017-09-19 14:12] wmonecke opened #36 "Create a small documentation?"

[2017-09-19 14:29] ptomasroos commented on #36
Hey!

I will fix that tonight. Currently the running example folder show the API.

[2017-09-19 14:31] wmonecke commented on #36
@ptomasroos Thank you very much for your time to maintain this component! One more question:
I was using another component with the same name multi slider, but it had issues with Android. Is this a fork that focused on fixing that? Thank you again!

[2017-09-19 14:54] ptomasroos commented on #36
We've been using this in production for a year on both iOS and android.

I don't know what other components offer :-)

[2017-09-28 13:36] chrise86 commented on #32
@ptomasroos would you suggest to just use a transform and rotate the component?

[2017-09-28 17:41] RyanMitchellWilson opened #38 "Custom Marker keeps flickering on every render"
I'm trying to set up a slider with a custom marker that moves with a an updating value. But every time a render is called the Custom marker flickers and makes it hard to grab. If I remove the custom marker the standard marker works perfectly, no flickering and easy to grab.

Here is my slider:
[code]

[2017-09-28 17:53] RyanMitchellWilson opened #39 "Custom track style doesn't center the marker"
I'm trying to make a slider with a custom trackStyle but whenever I give it a different height, the marker doesn't adjust to the center.
<img width="622" alt="screen shot 2017-09-28 at 11 49 00 am" src="https://user-images.githubusercontent.com/11371200/30981983-49a512c4-a443-11e7-81c9-05f1fbf26cc7.png">

My slider:
[code]

[2017-10-04 02:12] iltoga opened #40 "disable prop for multislider component"
Hi and first off thanks for the good component I would love to use on my app, but I cannot at the moment because I can't find a way to disable both markers (I have an edit screen component that must render the slider component 'disabled and greyed out' if user is not in 'edit' mode).
Do you plan to add this functionality in the near future?
Cheers

[2017-10-04 03:21] iltoga commented on #40
I've already answered myself by setting enabledOne and enabledTwo props to false :+1:

[2017-10-04 05:21] ptomasroos commented on #40
👍

[2017-10-04 05:21] #40 closed

[2017-10-05 14:17] AlexisJamin commented on #36
@ptomasroos , your component is great ! 👍 But you definitively need to build a doc !

[2017-10-06 21:26] RyanMitchellWilson opened #41 "Add ability to limit how often onValuesChange fires"
I'm currently running some calculations every time the value changes when I'm sliding it, but I would like it to only fire the onValuesChange method a couple times every second.

Is there a way to limit this currently? I wasn't able to see anything popping out at me in the source code for this project. If not could it possibly be added?

[2017-10-09 11:20] ptomasroos commented on #41
Not really. But yeah if you just use underscore / lodash and use the _.throttle on the callback with, 1000 as the rate it should be fine.

[2017-10-09 11:20] #41 closed

[2017-10-09 11:21] ptomasroos commented on #41
Actually debounce would be better here since you're probably looking to do a calculation of the last value provided!

[2017-10-09 11:21] ptomasroos commented on #41
http://underscorejs.org/#debounce

[2017-10-09 15:15] RyanMitchellWilson commented on #41
That could work but I'm not exactly trying to pull in another library for this one thing but I did manage to get what I need just by setting a timestamp whenever `onValueChanges` runs and I only run the calculations if the two times are enough apart.

[2017-10-09 17:01] ptomasroos commented on #41
Well done! Glad you solved it !

[2017-10-11 04:38] greenais opened #42 "Stop working on latest RN 0.49.3"
Build is successful, but running on Android simulator brings an error:

undefined is not an object (evaluating 'PropTypes.bool')

with references to files in node_modules/react-native-multi-slider/
mockProps.js:15:23
Slider.js:16:24
along with plenty of /metro-bundler/src/Resolver/polifills/require.js

Worked fine on RN 0.48.4
Any suggestions, perhaps?

[2017-10-11 04:48] ptomasroos commented on #42
I'm pretty sure you're using another npm package considering the path.

Either switch or find the appropriate repo. Best of luck.

[2017-10-11 04:48] #42 closed

[2017-10-11 05:37] greenais commented on #42
You are right, I missed the point that yours one installs with @ptomasroos/react-native-multi-slider, I just used npm i react-native-multi-slider
Never met such synonyms on npm yet...
Thank you, everything works fine.
Good job!

[2017-10-13 21:44] Kyonru commented on #39
This looks like the track start on the center of the maker and goes down...  A way to solve this is having a view with the same background color of the track to cover that empty area...

[2017-10-14 05:04] ptomasroos commented on #39
Hopefully we can solve this easier when the new view engine is working on android and doesn't need to absolute position this.

[2017-10-26 22:09] Kyonru commented on #39
By the moment making a custom maker and giving "top: 10" (change 10 for whatever that fit you) can be another solution.

[2017-10-27 12:56] damikdk commented on #33
I got something! There is some dependence on marker size:

Bad style with bug on Android:
[code]

Good style, perfect work on Android without any transformations:
[code]

It's exactly what I need in my project, but issue still open.
One more time, thanks for your lib!

[2017-10-27 13:01] damikdk commented on #39
I use `marginTop` in markerStyle in my project, it looks good

[2017-11-02 02:17] fauzzi commented on #24
I have same issue with multi slider,  I set value  [0, 100000000]
 step: 1,
 min: 0,
 max: 100000000,
The app crash

[2017-11-02 13:24] ptomasroos commented on #24
Aouch! Never tried it with 100000000, feel free to send a PR if you can get it working! Just edit the component in your node modules! @fauzzi

[2017-11-10 08:32] brianlaw033 opened #43 "Allow out of range numbers"
How can I handle cases when one of the values are out of range?
like the slider's min: 0 max: 100
but the values[1] is 1000

[2017-11-10 08:35] ptomasroos commented on #43
Can you create a example repo with the example in Basic? And I could take a look at it

[2017-11-10 08:48] brianlaw033 commented on #43
not really complicated

[code]

I want to accept some extreme cases where when the range in the slider is not enough
so users can enter the maximum price, but wont affect the slidebar (remains on the end of right hand side)

[2017-11-23 12:17] Frexuz commented on #25
My workaround
`containerStyle={{ height: 12 }}`
12 (half), because my markers are 24px height, so the container ends at the bottom edge of the markers.

:(

[2017-12-01 14:52] lXSPandora opened #44 "Cannot read property bool of undefined"
When i import the MultiSlider this error shows up

![simulator screen shot - iphone 6 - 2017-12-01 at 12 51 40](https://user-images.githubusercontent.com/18129416/33488013-681f872c-d696-11e7-8ce0-784dd02ba347.png)

[2017-12-01 14:59] ptomasroos commented on #44
Can you post your package.json?

[2017-12-01 15:26] lXSPandora commented on #44
{
  "name": "Natura",
  "version": "1.7.3",
  "config": {
    "commitizen": {
      "path": "./node_modules/cz-conventional-changelog"
    }
  },
  "dependencies": {
    "@entria/formia": "^0.0.10",
    "@entria/utils": "^0.0.10",
    "@expo/ex-navigation": "git+https://git@github.com/entria/ex-navigation.git#cb5211552b29e660d7374e5057dc40ad4146eeb5",
    "@expo/react-native-action-sheet": "^1.0.1

[2017-12-01 16:03] ptomasroos commented on #44
That's not this component !

[2017-12-01 16:03] #44 closed

[2017-12-04 16:30] Unlighten opened #45 "Markers"
Which property would I call in order to change the style of the markers?

Currently the markers go over the side of the line and I am trying to get the edge of the marker to touch the edge of the line.

This is what it looks like in case my description wasn't helpful:
https://imgur.com/a/GKp2y

The top image is what I want, the bottom image is what is currently happening.

[2017-12-04 21:06] sibelius commented on #36
maybe we can add some docs on proptypes much like react native does

[2017-12-05 09:03] sibelius opened #46 "weird bug on multiple values"
![image](https://user-images.githubusercontent.com/2005841/33598489-1b027142-d98a-11e7-8eca-3892b29110ca.png)

the image above has the following configs

[code]

these values are set dynamically, is this a problem?

[2017-12-05 09:05] ptomasroos commented on #46
Interesting. Never tried it will see what we can do about it in the example app!

[2017-12-05 10:07] sibelius commented on #46
![image](https://user-images.githubusercontent.com/2005841/33601401-3c97d79e-d993-11e7-85eb-5eb53cf981b6.png)

it looks like initial position two is kind of bug

[2017-12-12 12:51] #46 closed

[2017-12-15 15:23] meurling opened #48 "Values on multislider always starts at [0, 0] with redux."
Hello!
So my problem is that my markers always start at 0, even though my initial state in my reducer is [18, 25].
Anyone knows how to solve this?

My code looks like this:
[code]

[2017-12-19 12:12] ptomasroos commented on #48
We use             values={[value1, value2]}
There is no issue with that at least from my knowledge. Are you sure you're input values in this case _sliderValue[0], _sliderValue[1] are having any correct values? Try log them or debug these values since its very likely that the issue is the connection to redux rather than something in the component.

We for a fact use redux with the multislider succ

[2017-12-19 12:12] #48 closed

[2017-12-20 01:13] yummyelin commented on #44
Is it possible to change the package name? like 'react-native-easy-slider', 'react-native-advanced-slider'

[2017-12-20 06:23] ptomasroos commented on #44
Sadly it will break the existing clients since they won't get upgrades until they discover it's dead

[2017-12-20 07:43] yummyelin commented on #44
Understand..Thanks for answering me

[2018-01-04 08:41] IlifilzaRusli commented on #48
@ptomasroos  I'm using values [31317, 425300] for the MultiSlider. But both start at [0,0]. values[11000, 678900] works though. Do you know why?

[2018-01-04 08:53] jakubzaba opened #49 "Marker position is shifted for Snapped"
When you enable `snapped`, marker is shifted by one value to the right.
It's not noticeable for high values, but totally not usable when you set max to low value e.g. `max={4}`.

This is `<MultiSlider min={1} max={4} values={[1, 2]} />` but it shows 2 and 3 position.
<img width="349" alt="screen shot 2018-01-04 at 8 56 54 am" src="https://user-images.githubusercontent.com/1803950/34555888-60af130a

[2018-01-04 09:00] ptomasroos commented on #49
Thank you very much for finding this issue and sending a PR!

[2018-01-06 18:31] #49 closed

[2018-01-11 18:37] Kyonru commented on #45
I suggest using the half of the with of the marker as margin left/right.

[2018-01-18 00:10] QQizi opened #53 "Multiple slider"
I have a component which use 2 different Slider.
One of the Slider is a simple one with 1 marker, the second one have 2 markers.
[code]

[code]

When i change the value of the 1 marker slider, everything is ok.
When i change the value of the 2 markers slider, the marker of the first slider move to the left of the track.

When i console.log into componentWillReceiveProps of the library, i see that

[2018-01-18 09:41] ptomasroos commented on #53
Can you . please post your searchDistanceValuesChange and multiSliderValuesChange functions?

[2018-01-18 09:42] ptomasroos commented on #53
If you run the example repo does this still happen for you ?
https://github.com/ptomasroos/react-native-multi-slider/blob/master/example/Example.js

Since if you look on the example gif this is def not the case.

[2018-01-20 07:26] gudwns0102 opened #54 "Question about moveOne()"
`moveOne = gestureState => {
    if (!this.props.enabledOne) {
      return;
    }

    var unconfined = gestureState.dx + this.state.pastOne;
    var bottom = 0;
    var trueTop = this.state.positionTwo - (this.props.allowOverlap ? 0 : this.stepLength);
    var top = trueTop === 0 ? 0 : trueTop || this.props.sliderLength;
    var confined = unconfined < bottom
      ? bottom
      : unconfined >

[2018-01-20 07:37] ptomasroos commented on #54
Hey @gudwns0102 thanks for the feedback. Good question. I will try to improve this!

[2018-01-20 07:55] gudwns0102 commented on #54
I modified this part as I mentioned and guess it works well.

[2018-01-22 09:39] rtman opened #55 "MultiSlider min, max and values props cannot be reset after first Mount"
Hey I have a situation where when the `MultiSlider` first mounts my max and min values are `undefined` because the system is still retrieving them. Shortly after they arrive and `componentWillReceiveProps` is triggered and the proper values set to state . The `MultiSlider` doesn't seem to react to the state change however and the markers stay at 0,0. The `Text` components showing the current range

[2018-01-23 09:24] rtman commented on #55
@ptomasroos Hey can you have a look at this when you get a minute?

[2018-01-24 06:34] ptomasroos commented on #43
All right I started looking into this @brianlaw033 . Where would you like the position to be in the case of a value of 1000? At the 1000 spot? What happens when the user drags the slider, shall it go from 1000-> 99 in that case? I'm just trying to understand the use-case. We can of course make sure the component doesn't error but I'm not sure the use-case.

[2018-01-24 08:57] ptomasroos commented on #55
I will ! Hopefully during next week @rtman sorry for keeping it hanging

[2018-01-24 09:14] rtman commented on #55
Ok I'll try my luck on stackOverflow in the mean time as I'm trying to get this working for an app demo this week.

[2018-01-24 09:36] ptomasroos commented on #55
Sorry to be blocking but having my own schedule for a release coming up on Friday. Have you tried this in the example app to see if the issue is reproducible there?

[2018-01-24 09:36] ptomasroos commented on #55
I'm not really sure how the values are treated when its a float. Thats the thing I can come up with on top of my mind

[2018-01-24 09:36] ptomasroos commented on #55
Maybe you can just handle that as display and convert it from integers instead, and increasing the range from 0-10000 to compensate or whatever fits your range

[2018-01-24 10:35] rtman commented on #55
Thanks for helping out, part of it is a definitely the float issue. Though I'm not sure why floats would be not allowed?

Anyways, with the following change:

[code]

The markers are in the correct position when I load the component now (after receiving updated props from componentWillReceiveProps) but when I try to move any of them `onChangeValues` seems to be passing a null value for the marker

[2018-01-24 11:30] ptomasroos commented on #55
Well there has been no use of floats yet, and you can still mimic floats by making sure the range in the multislider is integers and then making sure to convert from float and back

Aka.

You wanna support 0.00 -> 10.00
Make the slider go from 0-1000
And let 10 convert to 0.10
And 1000 to 10.00

Does that make sense as a workaround?

[2018-01-24 15:37] rtman commented on #55
Yea for sure that workaround makes sense, maybe float support can be added at some point too.

However I'm still not sure why I'm getting a null value from the `onValuesChange` prop when moving a marker. Currently investigating ... any ideas?

[2018-01-24 16:35] rtman commented on #55
There's issues here beyond the floating numbers.

If I set the min max props on first mount of the component to 0,50 and then try to reset min max props to 8-79 in ComponentWillReceiveProps, all of my state is correct but the component itself never seems to update. When I drag the marker all the way to the right the max number I can get to is 50, so the new min max is not applied in the component.

[2018-01-24 18:36] rtman commented on #55
I found the issue and have submitted this [PR:56](https://github.com/ptomasroos/react-native-multi-slider/pull/56) please have a look and let me know if its ok for you.

[2018-01-24 19:01] ptomasroos commented on #55
Thank you very much. Will check it out tomorrow!

[2018-01-24 19:15] rtman commented on #55
Np thanks for making this component!

[2018-01-27 14:42] BuddhiWeerasinghe opened #57 "Tap and move slider"
I want to move the slider by tapping on the slider not just sliding by the marker. I can't find any prop or default settings to do it. Please can you help asap.

[2018-01-27 15:06] ptomasroos commented on #57
There is no such support today

[2018-01-30 13:16] ptomasroos commented on #55
Closed because of https://github.com/ptomasroos/react-native-multi-slider/pull/56#issuecomment-361587954

[2018-01-30 13:16] #55 closed

[2018-01-30 23:48] mchen37 opened #58 "Tick marks with snap?"
Snap works great but I would like to display tick marks so the user can see where markers should snap to. Is this possible?

[2018-01-31 06:02] ptomasroos commented on #58
I havent tried anything like it at least, that said it should def be possible to accomplish :)

[2018-01-31 06:05] ptomasroos commented on #36
Thats a great idea @sibelius, carrying any experience from react-native-camera on that? :)

[2018-01-31 13:22] ptomasroos commented on #32
@chrise86 yes tried it out and it doesn't work out as you're saying since transform doesn't affect the pan responders

[2018-01-31 13:24] ptomasroos commented on #38
You should probably preload the images here and not call them inline required, rather require them all and change it during runtime since its already. Just a feeling

[2018-02-05 22:18] RyanMitchellWilson commented on #38
I am preloading the image, at the very top of the file completely outside of my react-native component I do `const scrubber = require(<PathToMyFile>)` yet every render it still flashes.

[2018-02-06 05:00] ptomasroos commented on #38
Can you post the complete example with a example repo and I will def take a look at it!

[2018-02-22 10:36] lytrunghieu opened #61 "how can set size for custom marker ?"
I had try set width for custom Marker, but not working, it is util keep old size
![screen shot 2018-02-22 at 5 37 12 pm](https://user-images.githubusercontent.com/24516706/36533727-1127f1a0-17f7-11e8-9b00-496546582f84.png)

[2018-02-22 13:10] ptomasroos commented on #61
Can you please create a example repo based on the example I've got in this repo. And I'll happily help you out!

[2018-03-04 10:45] philjoseph opened #62 "New npm release"
Hello @ptomasroos - It seems that the last npm release is from Aug 17, while many commits came in the past months.
When using the npm latest (0.3.6) I am getting code that break with react 16 and react-native .53. Especially in `node_modules/react-native-multi-slider/mockProps.js` I have
    'use strict';

    var React = require('react');
    var ReactNative = require('react-native');
    var {

[2018-03-04 11:19] ptomasroos commented on #62
0.0.12 is the latest release.

You’re probably using another library. Feel free to read the readme how to install.

https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider

[2018-03-04 11:19] #62 closed

[2018-03-04 12:33] philjoseph commented on #62
You're right. I got confused since both your and https://github.com/JackDanielsAndCode/react-native-multi-slider have the exact same name and provides very similar functionality. Any connection between the two projects?

[2018-03-04 12:57] ptomasroos commented on #62
No not really mine supports android and is up to date.

[2018-03-11 09:16] sarykemmoun opened #63 "Markers override each other"
Hello.
first, thanks for the very useful library.
I have a little problem: when the markers are too close it overrides each other
![screenshot from 2018-03-11 10-44-36](https://user-images.githubusercontent.com/28590349/37251644-a921f53c-251c-11e8-93f1-789e48aa86ca.png)
Do you have any solution? thanks.

[2018-03-11 10:00] ptomasroos commented on #63
What do you think the behavior should be like instead?

[2018-03-11 10:04] sarykemmoun commented on #63
That the smallest gap (as the last attachment, 13:00 - 13:15 when the step size is 15 mins) will seem like this:
![screenshot from 2018-03-11 12-04-18](https://user-images.githubusercontent.com/28590349/37252114-5ff2f462-2524-11e8-8790-415cfb0f6b53.png)

[2018-03-15 15:03] ppozniak opened #64 "Can't apply smaller width, or padding on right side"
![image](https://user-images.githubusercontent.com/13921243/37471486-29d3467c-286a-11e8-883f-a2acef33ff5f.png)
Hello there.
I'm getting pretty desperate, as I've tried doing everything to make this look, however the right marker always seems to be out of screen. Applying width or padding, or even margin to containerStyles doesn't do the trick.

Here's the code

[code]

[2018-03-21 10:31] cmcaboy commented on #64
I am running into the same problem. Would like to know if there is a workaround.

[2018-03-21 10:47] cmcaboy commented on #64
His slider does take a property called "sliderWidth" that accepts a number as the width of the slider.
sliderWidth={250}
It is 280 by default.

[2018-03-21 11:04] ptomasroos commented on #64
Hi there! Sorry for not being able to respond sooner. I'm very fed up with work coming weeks and won't be able to help out here before the beginning of April most likely. Hope the community can help out.

[2018-03-23 11:41] ppozniak commented on #64
@cmcaboy for me it was `sliderLength` and yeah setting it to `250` made it look good. However I think this still would be better if you could use percentages. Also I'm not quite sure the differences between `sliderWidth` and `sliderLength`.

[2018-03-25 10:37] ptomasroos commented on #61
Will close since no response for a month

[2018-03-25 10:37] #61 closed

[2018-03-25 10:46] #53 closed

[2018-03-25 10:46] #54 closed

[2018-03-25 10:46] #43 closed

[2018-03-25 10:47] #38 closed

[2018-03-27 12:00] ppozniak commented on #64
@ptomasroos Could you please give us a hint what's the difference between `sliderWidth` and `sliderLength` or if there's a quick way to make these values accept values like `100%` or `auto`

[2018-03-27 12:02] ptomasroos commented on #64
Can you please point me to where sliderWidth is used?

[2018-03-27 12:35] ppozniak commented on #64
Sorry for confusion. It was the previous comment that mentioned `sliderWidth`. That slider uses `sliderLength`.

So any way to make this value dynamic? i.e 100%

[2018-03-27 18:37] cmcaboy commented on #64
It is sliderLength. Sorry. I misspoke.

[2018-03-27 23:01] solonifer opened #65 "Slider laggy with react-native-navigation"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

If I use this component alone - it works perfect.
But if I use it with [react-native-navigation](https://github.com/wix/react-native-navigation) with drawer enabled, once I sw

[2018-03-28 07:20] ptomasroos commented on #65
Since you didnt provide a repository I will close this, if you provide one I will happily help you out fixing this.

[2018-03-28 07:20] #65 closed

[2018-04-01 05:25] solonifer commented on #65
@ptomasroos thank you for reply.

I would like to give you another example, simple to reproduce:
[code]

What happen is when you touch slider and start sliding and without releasing a finger pulling down - ScrollView scrolls down. What I think should happen is that MultiSlider should cancel ScrollView scrolling until you finish your gesture on MultiSlider.

Hope I was clear enough :)

[2018-04-01 06:58] ptomasroos commented on #65
I've added a section to the README https://github.com/ptomasroos/react-native-multi-slider

[2018-04-11 10:53] alexfoxy opened #66 "error: positionOne is not defined"
Hey,

I'm getting an error using your plugin:

<img width="319" alt="screen shot 2018-04-11 at 11 49 46" src="https://user-images.githubusercontent.com/151772/38612427-95bd2a46-3d7e-11e8-98e5-3ed5aaef15ab.png">

Looking at the code, shouldn't line 152 of MultiSlider.js be:
`var positionOne = valueToPosition(...`
not
`positionOne = valueToPosition(...`

Same goes for positionTwo - line 161.

Doing

[2018-04-11 11:00] ptomasroos commented on #66
Can you please send a pr?

[2018-04-11 11:15] alexfoxy commented on #66
Done

[2018-04-17 08:34] #66 closed

[2018-04-17 08:51] ptomasroos commented on #45
Has this been resolved @Unlighten ?

[2018-04-21 07:55] sadeghipour commented on #38
@RyanMitchellWilson you can fix this problem witg separate markers in new update.

[2018-04-23 08:38] alexfoxy opened #70 "Please update the NPM with the latest changes"
Hey,

Be great to have the latest changes in the NPM. It's currently at 0.0.12 from 3 months ago!

Thanks!

[2018-04-23 09:31] ptomasroos commented on #70
Sure thing, will fix during the day

[2018-04-23 14:19] AFMW commented on #21
But what if I need to update the values in realtime? @ptomasroos
Example:
**1. I decrease the "área" section sliding left the marker:**
![simulator screen shot - iphone 6s plus - 2018-04-23 at 09 14 52](https://user-images.githubusercontent.com/26683460/39132193-e3191f28-46d6-11e8-8e27-31af444c8697.png)

**2. I decrease the "Precio" section silding left the marker and then the position of the "are

[2018-04-23 15:15] ptomasroos commented on #21
There are no values assigned to this.state.valuesSliderArea ?
So how can the component possible render the right state? No it can't thats why it gets re rendered.

[2018-04-23 18:45] AFMW commented on #21
@ptomasroos I assigned the values and it still gets re rendered.

I send you the modified code:

[code]

[2018-04-24 02:40] blackinitial opened #72 "Less Detail Documentation"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I am new in react native and i haven't used slider. I have read doc but unknown api to use. i have comparison with api slider rn official and issues post but its different.

t

[2018-04-24 03:38] ptomasroos commented on #72
Can you please give a example where it’s causing a error?

[2018-04-24 23:27] amitassaraf opened #73 "RTL - Touch is reversed"
Hey,

I am using the latest version of the react-native-multi-slider on an RTL app.
When testing and using I18nManager.forceRTL(true) the slider looks to function correctly until you try and move one of the markers.

What happens is that if you slide your finger right, the marker goes left. If you slide your finger left, the marker goes right.

I have managed to reproduce this issue on a clean pro

[2018-04-25 04:46] ptomasroos commented on #73
The rtl has not been released yet. Will do that later today if you need it.

[2018-04-25 17:49] amitassaraf commented on #73
@ptomasroos I'd love it if you can release it, or at least upload it to a branch and ill download it and publish it for personal use under an alias :)

Thanks!

[2018-04-25 18:43] ptomasroos commented on #73
I will release it tomorrow morning. Sorry for delay!

[2018-04-25 20:04] AFMW commented on #63
Hello, @ptomasroos  .
Is this solved now?

[2018-05-03 10:14] BaderSerhan opened #75 "markerStyle not working when I disable the slider"
Hello. I am setting enabledOne={false} and/or enabledTwo={false} to disable my component, but my custom markerStyle is returning to the original shape of the marker; i.e. markerStyle is not working when the marker is disabled. However, implementing a customMarker gave me the results I desire, but I think it's not easy for the developer to think of this solution immediately (I spent almost a week t

[2018-05-03 18:00] Unlighten commented on #45
No

[2018-05-19 14:16] manuvincent commented on #45
Add markerOffsetX property to multislider where value is width of marker/2

[2018-05-22 07:05] ptomasroos commented on #45
@manuvincent could you add this to the readme would be great or even in the example app.

[2018-05-27 08:17] Noitidart opened #76 "Using native sliders to make range slider"
I am trying to make a range slider using the native `<Slider>` component.  My goal is native perf and perfect native look.

My goal is to on press down, it should grab the slider that the press it is closest to. I have been trying for about a day with various stuff but can't figure it out.

I created a snack here: https://snack.expo.io/@noitsnack/rangeslider-cannot-move-one-in-back

I was wonderin

[2018-06-02 17:43] datsik34 opened #77 "typing error in given code"
Hi there,

Just to notify there's an error in README on the closing ScrollView.
correction : `</ScrollView>`

[2018-06-05 06:30] ptomasroos commented on #77
Thanks, fixed

[2018-06-05 06:30] #77 closed

[2018-06-07 22:40] umairda opened #78 "Non-linear slider"
It would useful to be able to implement a non-linear range like with nouislider:

https://refreshless.com/nouislider/slider-values/#section-non-linear

[2018-06-11 08:08] ptomasroos commented on #78
Sounds like a good idea, wanna send a pr ? @umairda

[2018-06-18 09:11] dammy95 opened #79 "Create label `good first issue` for first time contributors?"
Would like to contribute to this project but found no label/tag about which issues might be good for first timers. Can a `good first issue` label be created and the Issues labelled accordingly? Thanks! 😄

[2018-06-18 09:12] ptomasroos commented on #79
Hey @dammy95 ! Thanks, will try clean up the issues and see what could be doable 👍

[2018-06-19 10:22] ngytc opened #80 "Is it possible to change values programmatically?"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

This is not a bug report but a question regarding to features.
I am currently using MultiSlider in a screen for users to setting ranges. In this screen there is a Reset Button

[2018-06-19 13:28] dammy95 commented on #79
Thanks! @ptomasroos 😄

[2018-06-19 14:10] ptomasroos commented on #80
https://github.com/ptomasroos/react-native-multi-slider/blob/master/example/Example.js#L72

[2018-06-19 14:10] #80 closed

[2018-06-19 14:11] #73 closed

[2018-06-19 14:12] #72 closed

[2018-06-19 14:14] ptomasroos commented on #76
Since this issue isn't about the MultiSlider I'm sorry we're out of time to help out with side projects, thanks for reaching out though!

[2018-06-19 14:14] #76 closed

[2018-06-19 14:16] ptomasroos commented on #79
I've now marked up good first issues, which are mainly around styling and simpler implementations rather then the logic around drag, positioning ect. Feel free to take a bite and if you need any help let me know @dammy95

[2018-06-19 14:16] #79 closed

[2018-06-25 09:47] sujay-bidchat commented on #78
Hi @ptomasroos  I also wanted the same functionality especially **Stepping in non-linear sliders**.
Can you help?

[2018-06-25 15:24] dNitro commented on #57
@ptomasroos, Any plan on implementing this feature?!!! Tapping is a much more accepted UX than select'n move; and so every range slider should have.

[2018-06-29 06:57] ptomasroos commented on #78
I dont need this feature myself, it would be better that someone who requires it sends a pull request for it. The code is simple and the library small, would be great if someone took a stab at it @sujay-bidchat

[2018-07-03 18:04] ptomasroos commented on #32
Closed in https://github.com/ptomasroos/react-native-multi-slider/commit/ccf2fda4b4e72f0d7adb61ef69abc0d8b3446366

[2018-07-03 18:04] #32 closed

[2018-07-10 12:16] bulats commented on #64
I'm also wondering if it's possible to use percentage values instead of absolutes. So the slider would take up an entire width of the screen both vertically and horizontally.

[2018-07-10 14:00] zivnachum opened #82 "Left-to-right slider in a RTL app"
Hi,

I'm using the multi-slider in my RTL app and the slider works great
The only issue is that the numbers grow from right to left, and usually sliders are LTR oriented (also in RTL languages).

Perhaps it would be helpful to have an option to choose whether the slider is LTR or RTL.

Thanks.

[2018-07-17 17:55] ptomasroos commented on #82
Oh really? Now just inherit it from the I18Manage and flip it in the case. Feel free to send a pull request for this

[2018-07-29 23:18] richardbaltariu opened #83 "If max prop changes dynamically, marker one would not get to the end of the track"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

If you're going to set the `max` prop dynamically, probably based on a state change and you only have one marker, it would not go until the maximum value and/or position.

Tes

[2018-07-30 06:20] ptomasroos commented on #83
First good bug report I've ever received, will try to fix this but it on be until end of August since i'm currently on vacation. Thanks for providing a example repo

[2018-07-30 10:58] richardbaltariu commented on #83
@ptomasroos Because I had to make it work as I have a short deadline, I solved it like this:

[code]
BUT, I would like you to implement something that you think it works best in all scenarios because you know your project better and how it would affect things.

[2018-08-09 10:30] ptomasroos commented on #65
@qubitron we use this only within scrollview's are you sure you've implemented the disabling of scrolling in the ScrollView correctly? Or can you post a expo.io example for me to see this in order to help you out. Without a reproducible example its impossible to imagine for me.

[2018-08-09 10:30] ptomasroos commented on #83
Thanks for the feedback!

[2018-08-10 06:39] qubitron commented on #65
I figured out the problem, it was because I was hosting the MultiSlider inside of a stateless component that was being defined inside of the render function. The stateless component was being re-defined on every render call, which was causing the MultiSlider to stop panning on each render. Sorry for the false alarm!

[2018-08-14 12:28] rjoydip opened #84 "returning index position instead of returning value"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

[code]

## Expected Behavior

Should return the actual value of the step in `onChange` method.

## Actual Behavior

`MultiSlider` onChange returning ind

[2018-08-16 00:21] KingAmo opened #85 "'RCTRootView.h' file not found"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

it is ok in android , but get this error in iOS
![2018-08-15 16 34 18](https://user-images.githubusercontent.com/29938227/44139256-19286c46-a0a9-11e8-8cd3-19f0d274fef8.png)

#

[2018-08-16 05:32] ptomasroos commented on #85
The react-native-multi-slider has nothing todo with native code and is written in pure JS so this error sadly does not belong to multi-slider

[2018-08-16 05:32] #85 closed

[2018-08-16 05:35] ptomasroos commented on #84
I think you forgot to read the instructions in the ISSUE_TEMPLATE, can you please provide me with a reproduction example and I will take a look. We use this in our app and its returning the values since we have a age range from 18-65. Have you tried changing your values={[0, 24]} to values={[20, 50]} ?

[2018-08-16 09:07] rjoydip commented on #84
Actually, I read the ISSUE_TEMPLATE but it was hard for me to extract my slider code from my application. Let me try to reproduce an example.

No, I haven't. I will check that too.

Please keep this issue opened for some time.

[2018-08-16 09:26] ptomasroos commented on #84
If you can't extract it which has the application code which causes the error imaging how hard it will be for me for even guessing the bug or error :-)

[2018-08-20 11:27] rjoydip commented on #84
@ptomasroos Here is my code sample https://snack.expo.io/ryqxHQdIX
If you change `state` value `[6, 24] to [3, 7]` then you could understand

[2018-08-24 08:56] ptomasroos commented on #84
Thanks! Will check this out now

[2018-08-24 09:06] ptomasroos commented on #84
So you've not added any min + max in this range which causes this most likely to be quite some strange behaviour.

If you add
[code]

[2018-08-29 14:01] harrydry2 opened #86 "Can we change color of the slider button / handle?"
I know we can change color of slider using:

selectedStyle={{}} and
unselectedStyle={{}}

but I can't seem to chang the color for the actual handle / button which you use to drag the slider. I know I can load a custom Image but is there a simpler way to do this?

Many thanks. Love the project! 💯

[2018-08-31 00:58] chrismang commented on #80
Can I change one value depending on the change of the other? I want to control a video timmer of 1 minute, and I want to set the difference between the markers in 60 seconds. Is it possible to do that? I tried using your suggestion but is not working as I expected

[2018-08-31 08:03] GajendraFork opened #87 "Custom sliders"
- [yes] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [yes] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-08-31 08:05] GajendraFork commented on #87
Cant draw different markers for a multislider

[2018-08-31 08:30] ptomasroos commented on #87
I'm missing a expo link for this issue. Please attach it

On Fri, 31 Aug 2018, 10:15 GajendraFork, <notifications@github.com> wrote:

[2018-08-31 10:16] GajendraFork commented on #87
haven't tried anything. I just cant make out how can i have different custom markers in multislider.?

[2018-09-01 18:28] ptomasroos commented on #86
You can pass in markerStyle and it will respect that

[2018-09-01 18:28] #86 closed

[2018-09-01 18:28] ptomasroos commented on #75
Thanks! Will try to fix this.

[2018-09-11 10:01] ptomasroos commented on #39
Right, this is because Android has not been supporting overflow, but this seems to be coming in RN 0.57 so hopefully that will allow us to make the rendering easier

[2018-09-17 10:41] bjdash opened #88 "How to set the slider width to fit the parent View"
I have a `<View>` with style flex:1 which is filling its parent View. Now I want to place the slider inside the view (with flex:1) and I am expecting it to fit to the parent. But the property sliderLength only expects number and I couldn't find any other properties to achieve this.

Does this library support this by any means?

[2018-09-17 11:05] ptomasroos commented on #88
No that is sadly not possible

[2018-09-23 23:58] salvagit opened #89 "Can it be integrated with redux-form?"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

I'm trying to integrate it into a field of redux-form as follows,
[code]

My MultiSlider Component,

[code]

## Expected Behavior

but by submitting the

[2018-09-24 05:52] ptomasroos commented on #89
Hi!

If you could create a expo.io out of this, I'm pretty sure I will be able to help you out.

Me myself haven't used redux-form so can't really tell but since it seems to be very generic I dont see why it wouldn't work.

[2018-09-24 15:46] salvagit commented on #89
thank you very much I will soon generate an expo.io and I'll share it with you. thanks again.

[2018-09-25 04:08] salvagit commented on #89
How are you ? I leave a link to the expo,

https://snack.expo.io/@salvagit/redux-form-multislider-example?session_id=snack-session-rJSHmEwtQ

thank you very much.

[2018-09-25 07:32] ptomasroos commented on #89
This is totally a redux-form thing and I'm no expert by I think I got it running to the point you've wanted. But at least you will probably succeed from here.

https://snack.expo.io/@ptomasroos/redux-form-multislider-example

[2018-09-25 07:32] #89 closed

[2018-09-25 19:37] salvagit commented on #89
it worked! thank you very much!

[2018-09-27 08:32] KingAmo commented on #85
it do belong to multi-slider...the error occur in Slider.xcodeproj/Slider/appDelegate.m
![image](https://user-images.githubusercontent.com/29938227/46133326-cad7ca00-c272-11e8-9074-85f7c1c7a65b.png)

[2018-09-27 08:43] ptomasroos commented on #85
Now, i do not know what kind of libraries you've implemented in your React-native app since I haven't seen any source code.

But can you please show me where Slider.xcodeproj can be found in my slider implementation? https://github.com/ptomasroos/react-native-multi-slider/

[2018-09-27 09:13] KingAmo commented on #85
oh..sorry, you mean Slider.xcodeproj does not below to multi-slider? i try delete it and then build success... hahaha, thanks a lot..

[2018-10-03 09:56] namburirajesh opened #90 "Android Issue"
## Steps to Reproduce
 1. Above code working fine on IOS , but when coming to Android , if I drag the slider to intial value (0) and again moving to greater position >0 , track one is becoming transperant

## Expected Behavior
  Track color should be displayed

## Actual Behavior
Track color should be displayed

Image when slider is at position 0
![image](https://user-images.githubusercontent.com/

[2018-10-03 10:38] ptomasroos commented on #90
Will close because you did not follow the issue template.

Please read the instructions again and open a new issue to get help.

[2018-10-03 10:38] #90 closed

[2018-10-04 07:59] Alpume commented on #23
Hi @ptomasroos, I've seen that this issue isn't solved in the current version, but I think it's a something useful. Is there any possibility to solve this in next release?.

[2018-10-04 08:09] ptomasroos commented on #23
Hi there @Alpume !

Can you tell me what the fixed would be ? Remove it or implement it?

[2018-10-04 08:34] Alpume commented on #23
Hi again,

I was little explanatory, sorry. I meant implement it.

[2018-10-04 08:35] ptomasroos commented on #23
Feel free to send a pull request @Alpume !
We're happy with the default touchpoints used in our app so I do not intend to implement it at this moment

[2018-10-04 15:58] scotbond commented on #82
See if my fork works well for you. I'll submit it as PR later on.
https://github.com/scotbond/react-native-multi-slider/commit/66006eee716ac8621de61cde8f3fcdde8832ab28

[2018-10-13 10:34] richardbaltariu commented on #83
Yes, it should be fine to render the updated min/max values. I only checked the issue for the max prop.

It would be nice to be able to set dynamic values based on state changes instead of just constrain it to what it is set when the component is first rendered, which actually work now, but it breaks for the max value as described above.

_Sorry for my very late response_

[2018-10-15 14:47] ptomasroos commented on #36
Feel free to send a pull request @HighSoftWare96

[2018-10-17 12:51] karsens opened #91 "You have to be very precise to hit the slider"
Is it possible to add a hitSlop to the multislider? (https://facebook.github.io/react-native/docs/touchablewithoutfeedback#hitslop) Currently, it's very hard to hit it correctly if you're my grandma or have fat fingers.

[2018-10-17 13:12] karsens commented on #91
Found a fix: I can use a defaultMarker with a hitSlop, like this:

class CustomMarker extends React.Component {
  render() {
    return (
      <TouchableWithoutFeedback
        style={{
          hitSlop: { top: 20, bottom: 20, left: 20, right: 20 }
        }}

        <View style={styles.image} />
      </TouchableWithoutFeedback>
    );
  }
}

[2018-10-26 04:10] ptomasroos commented on #91
Thanks @karsens, would you consider making this a feature?

[2018-10-26 04:11] ptomasroos commented on #88
I believe that now that overflow is being brought into Android we could actually use the onLayout hook back and recalculate this based on the parent the slider is inserted into

[2018-10-26 06:58] ptomasroos opened #92 "Rewrite with android overflow support"
Now that overflow is supported in react-native both on android and ios we could use this to make the design more simplex.

This would also allow us to instead of having fixed width on the MultiSlider to actually move it into using the onLayout callback to get the size of where its been layouted and adapt according to regular style rules instead of having a fixed width as a calculation basis.

Hope

[2018-10-26 06:59] ptomasroos commented on #87
Feel free to check the examples/Basic and run it, its very clear how to implement a Custom Marker.

[2018-10-26 06:59] #87 closed

[2018-10-26 06:59] #23 closed

[2018-10-26 07:01] #84 closed

[2018-10-26 07:03] #33 closed

[2018-11-01 08:41] ptomasroos commented on #82
@scotbond are you happy with this? Something I should incorporate to the main repo? I myself have no knowledge of RTL and whats "standard"

[2018-11-01 09:52] shenshenwlb opened #95 "How to set the value during the sliding process"
How to set the value during the sliding process, so that the marker can have custom scrolling logic

[2018-11-01 09:57] ptomasroos commented on #95
That is not possible as of today since passing new props is blocked when the markers are actively being updated. https://github.com/ptomasroos/react-native-multi-slider/blob/master/MultiSlider.js#L98

What type of logic where you considering @shenshenwlb ?

[2018-11-12 18:59] MaciekLeks opened #96 "Bundling failed on RN 0.57.4"
Does `ptomasroos/react-native-multi-slider` work with RN 0.57.4?
I get the following error with the bundler: <pre>Error: Unable to resolve module `react-native-multi-slider` from `/home/user/... : Module `react-native-multi-slider` does not exist in the Haste module map

This might be related to https://github.com/facebook/react-native/issues/4968
To resolve try the following:
  1. Clear watchman

[2018-11-12 19:17] ptomasroos commented on #96
We're using it with 0.57.4 in production already.
You need to show me some code if I should be able to help out sadly.

But i'm pretty sure you importing the wrong package.

from '@ptomasroos/react-native-multi-slider'; is the correct one

[2018-11-12 19:17] #96 closed

[2018-11-12 19:30] ptomasroos commented on #96
Yes that’s my bad as I’m on my way to change the package name but haven’t completed it. Sorry!

[2018-11-14 20:53] sibelius opened #97 "is it possible to have specific values"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the latest [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I'd like to keep scrolling positions in specific positions.
For instance, if I have min={1} and max={3}, I'd like to divide the slider in 3 positions to keep the positi

[2018-11-14 21:15] sibelius commented on #57
can you wrap your slider and handle onPress to move to next value?

[2018-11-14 21:16] ptomasroos commented on #97
Try snapped={true}

[2018-11-14 21:34] sibelius commented on #97
it works tks, I've sent a PR to improve the docs

[2018-11-14 21:34] #97 closed

[2018-11-19 00:11] vidit-bhatia opened #100 "marker getting away from real value when markerOffsetX is provided"
- [ y] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ y] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

when the slider is used between an elment with padding and margin the markers in android as well as ios are not in the correct position ios looks ok as the markers are bigge

[2018-11-27 09:22] mckmarc opened #101 "customMarker"
If I create a customMarker and I pass component in customMarker attribute it's show good. But if I change customMarker attribute for customMarkerLeft and customMarkerRight, Multislider not detect my customMarker...

My code:
[code]

[code]

[2018-11-27 09:24] #101 closed, assigned to nobody

[2018-11-28 08:54] asjustis commented on #96
I know I'm posting this to a closed issue, but getting the same story with RN 0.55.4 -> @ptomasroos any clue if this could work without an update?

[2018-11-28 11:59] ptomasroos commented on #96
Import from '@ptomasroos/react-native-multi-slider';

[2018-11-28 11:59] ptomasroos commented on #96
Will work fine

[2018-11-30 06:58] asjustis commented on #96
Ooooh you meant `import`, not the `npm install`... 🤦‍♂️  It works indeed, thanks for the support!

[2018-12-05 06:22] saikiranoptisol opened #102 "how to change slider length"
everything in this component works fine for me. But i want to know how to change slider length. becuase if i give static lenght like 200 or 300 it may look small or else big in bigger and smaller devices.
Is there any way to change the slider length

[2018-12-05 08:21] #102 closed

[2018-12-05 09:03] ptomasroos commented on #102
Can you please share you solution so other can get help from existing issues?

[2018-12-10 14:30] ptomasroos commented on #102
Thanks @saikiranoptisol !

[2018-12-14 17:00] spyshower opened #104 "Error on installation"
<img width="338" alt="screenshot 2018-12-14 at 18 58 09" src="https://user-images.githubusercontent.com/7046283/50016574-3f98e580-ffd2-11e8-9c36-199c937cccb8.png">

The import line throws this error. I have created so many threads about bugs and errors these days that I honestly can't type another sentence of explaining an error. The image should be enough.

[2018-12-14 23:13] spyshower commented on #104
"react-native-multi-slider": "^0.3.6"

[2018-12-15 05:33] ptomasroos commented on #104
From the readme

$ npm install --save @ptomasroos/react-native-multi-slider

You are reporting someone else’s error here

[2018-12-15 05:33] #104 closed

[2018-12-15 10:35] spyshower commented on #104
Well I originally installed it that way but got this error:

Unable to resolve "react-native-multi-slider" from "src/components/Screens/Encounters.js"

The example project contains this:
`import MultiSlider from 'react-native-multi-slider';`

instead of
`
import MultiSlider from '@ptomasroos/react-native-multi-slider';`

Anyway thanks a lot for the quick help @ptomasroos . While we are here, is th

[2018-12-15 11:32] ptomasroos commented on #104
Look at the examples in the repo.

Yes the idea was to republish it but we never agreed on the package name. Will fix during Christmas

[2018-12-16 19:19] spyshower commented on #104
I mean directly above the marker, so when the marker is moved the value gets moved too.

[2018-12-18 13:34] ptomasroos commented on #104
No there is no such thing in the slider it self

[2019-01-02 21:43] sergiotbh opened #105 "Overlapping allowed even though allowOverlap is false"
☑️ I have searched [existing issues]
☑️ I am using the [latest multi slider version]

When I set **allowOverlap** to **false**, it works as expected, but when I reload the screen, it allows me to overlap both cursors again. It also happens when I don't set **allowOverlap**

This is on **iOS**, haven't tested on Android

[code]
Showing both cursors:
![screen shot 2019-01-02 at 15 36 07](https://use

[2019-01-02 21:46] sergiotbh commented on #105
(Edited out some experimental code on a failed attempt to find a workaround)

[2019-01-24 15:32] Francute opened #106 "Custom Select Track Support"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

Currently it is possible to apply simple styles for the selected track. But I don't find a way to style it using another component instead, for example using a gradient compon

[2019-02-07 20:42] CyxouD commented on #105
<img width="953" alt="image" src="https://user-images.githubusercontent.com/17162008/52441383-1ce60180-2b29-11e9-8f1f-605247849503.png">
This happens because of this calculation, if `this.props.sliderLength` or `this.optionsArray.length` are quite large and close to each other, then this value is quite small.
<img width="955" alt="image" src="https://user-images.githubusercontent.com/17162008/5244

[2019-02-08 08:49] ptomasroos commented on #105
Thanks @CyxouD

Have you tried with snapped={true} and it still occurs?
Can you create a repo for me in order to reproduce this and I will take a look at it

[2019-02-10 22:40] jahnique commented on #64
To get a relative slider length you could make use of react-native's `window` dimensions and optionally consider to remove the container's left and right padding:

[code]

[2019-02-12 19:27] sibelius opened #108 "add typescript types"
Everybody is moving to typescript

it would be cool to have .d.ts for this package

[2019-02-12 19:43] ptomasroos commented on #108
Would be great indeed.

[2019-02-15 23:39] jahnique commented on #57
good to hear there is progress on this issue. @ptomasroos did you already succeed to clean up the state to enable tapping?

[2019-02-18 11:56] abhishkekalia commented on #105
+1

[2019-02-18 21:08] halbano commented on #108
npm install --save @types/ptomasroos__react-native-multi-slider

Does that definition makes sense?

[2019-02-21 08:59] syedtehrimabbas commented on #105
@sergiotbh
Hi mate,
please use isMarkersSeparated =false
**isMarkersSeparated={false}
allowOverlap={false}
snapped={true}**
Hope fully it will fix your issue.

![2u8dbk](https://user-images.githubusercontent.com/26393867/53156196-a2b18480-35e0-11e9-8387-2c823229649a.gif)

[2019-03-01 13:21] kuzkokov commented on #95
@ptomasroos hi! I faced the same issue.
I'm trying to implement a "magnetic" slider with some maximum possible difference between min and max values. And when the actual diff is bigger than maximum, I want to change the second marker value as well. Maybe there are some workarounds?

[2019-03-01 14:29] tomasamado97 opened #111 "CustomLeftMarker & CustomRightMarker not working on Android"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

![screen shot 2019-03-01 at 11 19 23 am](https://user-images.githubusercontent.com/45824903/53644364-2f79c500-3c15-11e9-815f-9850f3461266.png)

Making custom markers with valu

[2019-03-04 20:39] tomasamado97 commented on #111
Found the error, seems that position: 'absolute' doesn't work on Android, i removed that from the styling and it works perfectly!

[2019-03-04 20:39] #111 closed

[2019-03-05 14:45] dyihoon90 commented on #63
my team faced this too and I've created a PR in #112

[2019-03-06 07:22] vantuan88291 commented on #88
Have one way i have used, you can get width of parent view and set slide Length follow width of parent view, example:

[code]

[2019-03-06 15:41] spyshower opened #113 "touchDimensions not working?"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I am to trying to make the bounding box of a Marker larger. Looking at the documentation, I think the right prop to do that is `touchDimensions`. However, `width/height` don't

[2019-03-08 09:30] Russel-insureme opened #114 "create lables on given positions?"
is there a way to add lables on given positions? and steps seperators?

[2019-03-12 03:08] noushinquazi commented on #114
Hi! Not a direct solution to your question about given positions, but if you are interested in displaying the value with the markers as they move, you can create a custom marker similar to the given marker in DefaultMarker.js. You would only need to make one change to the render function inside DefaultMarker.js to show the values like so:

[code]
I chose the flex values to keep the marker centered

[2019-03-12 20:13] noushinquazi commented on #113
Looking at the source code for MultiSlider.js, it appears that the height and width attributes from the touchDimensions prop are never used. Like you have observed, only slipDisplacement has any effect because it is the only attribute that gets used.

[2019-03-21 16:12] hanwenbo opened #115 ""_OBJC_CLASS_$_RCTRootView","
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_RCTRootView", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2019-03-21 16:12] hanwenbo commented on #115
Ld /Users/hanwenbo/Library/Developer/Xcode/DerivedData/sharePlus-cmxhbfwlcgwkijghuubsjjiqzxid/Build/Products/Debug-iphonesimulator/Slider.app/Slider normal x86_64 (in target: Slider)
    cd /Users/hanwenbo/app/share-plus-react-native-v4/node_modules/react-native-multi-slider/iOS
    export IPHONEOS_DEPLOYMENT_TARGET=7.0
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolc

[2019-03-21 16:13] hanwenbo commented on #115
Environment:
  OS: macOS 10.14.3
  Node: 11.10.1
  Yarn: 1.13.0
  npm: 6.9.0
  Watchman: 4.7.0
  Xcode: Xcode 10.1 Build version 10B61
  Android Studio: 3.3 AI-182.5107.16.33.5314842

Packages: (wanted => installed)
  react: ^16.3.0-alpha.1 => 16.8.4
  react-native: 0.54.2 => 0.54.2

[2019-03-21 16:14] #115 closed

[2019-03-28 09:57] #63 closed

[2019-04-06 01:20] ataravati commented on #82
@ptomasroos Is there a plan to have this released?

[2019-04-14 04:39] motogod opened #118 "Failed to load bundle"
I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

    1. npm install --save @ptomasroos/react-native-multi-slider
    2. just `import MultiSlider from '@ptomasroos/react-native-multi-slider';` in file.
    3. `reac

[2019-04-24 14:39] mpino88 commented on #53
i have that code and i dont know why it is not showing two markers:
please help me with that
[code]

[2019-05-04 03:30] nphucuong commented on #118
I get the same error ..

[2019-05-04 03:34] nphucuong commented on #118
Solved.

`import MultiSlider from '@ptomasroos/react-native-multi-slider'`

[2019-05-17 07:01] rajeevrocker7 opened #124 "Slider Smoothness inside Modal."
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

Create a Component  CustomModal for Modal,

in constructor(props) {
super(props);
        this.state = {
            selectedMin: 1,
            selecte

[2019-05-22 19:53] LeonSo7 opened #125 "minMarkerOverlapDistance doesn't work."
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-06-04 11:00] Abakrii commented on #73
@ptomasroos  still not working!

[2019-06-08 10:06] roysG opened #127 "screen is swiping in iphone xs when moving the slider"
- [X ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I upload some video that explain what is happen.

Link:
https://streamable.com/4s1po

[2019-06-11 14:07] henrikra commented on #108
I have succesfully add types with `npm install --save @types/ptomasroos__react-native-multi-slider` so this ticket can be closed!

[2019-06-11 14:17] #108 closed

[2019-06-13 19:27] ptomasroos commented on #127
Did you try to place the component further away from the bottom? Pretty sure that area is restricted by Apple for their gestures

[2019-06-13 19:55] patrickcmserrano commented on #125
I've been able to set an minimal offset between two markers by adding markerOffsetX prop a negative int (which, in my case, was half the marker's radius)

[2019-06-14 08:16] FrikkieSnyman opened #128 "Duplicate selected track styling"
- [x ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

It seems that the selected track is duplicated. It it probably some conflict between the most recent merges. Unfortunately I won't have time for a while to look at this.

Sh

[2019-06-14 08:19] ptomasroos commented on #128
Thanks I will take a look before releasing

[2019-06-14 08:24] FrikkieSnyman commented on #128
Nice one thanks

[2019-06-14 08:31] ptomasroos commented on #128
@FrikkieSnyman Can you share your example of setting up the MultiSlider in the example above, will make it a lot quicker to fix

[2019-06-14 08:47] FrikkieSnyman commented on #128
Sure!

[code]

[2019-06-20 09:45] technicalopt opened #129 "Can not install with current 2.0.0 version"
Hi pro,

Did you register released 2.0.0 version to install by command:

npm install --save @ptomasroos/react-native-multi-slider

It always install 1.0.0 version. I tried with this:
npm install --save @ptomasroos/react-native-multi-slider@2.0.0

But no matching version found.

[2019-06-22 07:48] hosseinmd opened #130 "Publish version next to NPM"
please publish the last commit on NPM

[2019-06-26 21:36] cmacdonnacha opened #131 "Question: Does this work with expo client?"
Just a quick question, does this work with expo client or does it have to be ejected?

[2019-06-27 17:04] luco commented on #105
@syedtehrimabbas Your fix doesn't work:

![image](https://user-images.githubusercontent.com/246373/60285720-8736ed00-98e4-11e9-94ff-24f429fd08a5.png)

[2019-06-27 21:30] hosseinmd commented on #130
I have published the last commit. you can install that with

[2019-06-27 21:30] #130 closed

[2019-07-02 08:42] FrikkieSnyman commented on #128
@ptomasroos Got a chance to look at this?

[2019-07-09 15:05] RobinCsl commented on #105
@ptomasroos, we added this functionality in a fork of this repository (see https://github.com/kiwicom/react-native-multi-slider/commits/master).
In the package depending on it (`@kiwicom/universal-components`), we're targeting the GitHub URL to the repo... and this seems to trigger a weird bug in some GitLab CI pipelines with `yarn install`... So I would much rather use `@ptomasroos/react-native-m

[2019-07-09 16:35] ptomasroos commented on #105
Of course! Would be great to have a PR for this.

[2019-07-09 17:35] ptomasroos commented on #131
Yes this works with expo since there are no native dependencies

[2019-07-09 17:35] #131 closed

[2019-07-09 17:35] ptomasroos commented on #129
Yes sorry it hasn't been released yet. Will publish soon

[2019-07-09 17:35] #129 closed

[2019-07-09 17:39] cmacdonnacha commented on #131
Great thanks

[2019-07-09 18:15] ptomasroos commented on #128
@FrikkieSnyman already on vacation will be back in 4w

[2019-07-28 09:30] Ethan0007 opened #134 "Decimal value for Two Markers"
Hi,

When using two markers my minimum and maximum in decimal values should be equal when I slide the maximum to minimum value.

Min to Max:
![Screen Shot 2019-07-28 at 4 29 33 PM](https://user-images.githubusercontent.com/12542052/62004873-f0fd1d80-b154-11e9-9afa-0fe421c004d5.png)

Max to Min:
![Screen Shot 2019-07-28 at 4 25 15 PM](https://user-images.githubusercontent.com/12542052/62004859-c9a6

[2019-08-06 14:22] jlgfmhldf opened #135 "Track bug"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

Hi, I am using latest version from github repository. When i running example i get it https://monosnap.com/file/pFmIl4yUBBQvMtLszi4d6IxzByO129

[2019-08-15 13:12] myckhel commented on #135
temporary solution

copied converters.js, DefaultLable.js, DefaultMarker.js, MultiSlider.js from https://github.com/ptomasroos/react-native-multi-slider/tree/410221bd455783922ed150b9386cbfd41880e869 to node_modules/react-native-multi-slider

[2019-09-08 08:08] Dror-Bar commented on #96
Might want to add this line to "Usage" in the readme:
`Import from '@ptomasroos/react-native-multi-slider';`

[2019-09-08 14:51] Dror-Bar commented on #83
For me I fixed it with `allowOverlap={true}`.

[2019-09-13 11:53] richardbaltariu commented on #83
@Dror-Bar Yes, that indeed seems to fix it. Tested on the initial test code above.

Though, I still think there's a small issue in there and I think it shouldn't require that flag in order to work correctly.

[2019-09-25 10:28] johnny09003525 commented on #125
minMarkerOverlapDistance
this function is not exist
please have a check on this

[2019-09-27 09:04] Under-Warz opened #138 "componentWillMount is deprecated warning"
Hi,

Be careful, componentWillMount has been renamed and is not recommanded for use with React 16.9.0

Thx for the fix

[2019-09-30 20:33] robwalkerco commented on #135
Has anyone worked out whats causing this?

@myckhel I've tried installing the commit in your comment, as well as the current master, and I'm still getting the track bug :(

[2019-09-30 20:45] myckhel commented on #135
Did you npm install or yarn add https://github.com/ptomasroos/react-native-multi-slider#410221bd455783922ed150b9386cbfd41880e869

Then i hope it wasn't installed

Try to confirm if the commit was installed by checking the package.json

If you would see the commit id

Im very sure with that commit id you shouldn't experience that bug
Because thats what im using uptill now while im waiting for lates

[2019-09-30 21:02] robwalkerco commented on #135
@myckhel Thanks for your reply. I guess I must have still been pulling in the wrong commit.
Anyway, I've opened a PR with (what I think) is a proper fix.

You can install it now using `ptomasroos/react-native-multi-slider#139/head` in your package.json file if you want to try it out. (I would appreciate a comment on #139 if it works for you ;) )

[2019-09-30 21:11] robwalkerco commented on #135
Strange, that method for installing the PR branch doesn't seem to be working for on with npm.
This works though - `robwalkerco/react-native-multi-slider#robwalkerco-patch-1`

[2019-09-30 22:02] myckhel commented on #135
Oh great.

Thanks for taking your time to make a PR.

[2019-10-14 11:32] piotrponikowski opened #140 "Outdated version for npm"
Hello,
version bublished to npm looks outdated:
https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider
https://www.npmjs.com/package/@types/ptomasroos__react-native-multi-slider

For example it doesn't contain property 'minMarkerOverlapDistance', which is available on github.

Are there any chances to publish the newest version to npm?

[2019-10-15 06:20] maheshshrigod opened #141 "how can i set an initial selected value to the slider eg selecting 0 by default"

[2019-10-15 07:53] Seti87 commented on #141
Set `values={[0]}` for slider with one cursor, or you can set both values for sldier with two cursors like this: `values={[0,100]}`

[2019-10-15 08:39] maheshshrigod commented on #141
done thank you

[2019-10-15 09:31] maheshshrigod commented on #141
i have tried the above advise but a new thing arises I found that the items labels are not getting updated but when I move the slide it gets updated because in the Item in the checkactivity function this.props.second is coming 10 so why is this happening.
![BeforeSelection](https://user-images.githubusercontent.com/48043243/66819411-8f329f80-ef5c-11e9-86c1-0c7774683658.PNG)
![AfterSelection](https

[2019-10-15 11:07] maheshshrigod opened #142 "Set `values={[0]}` for slider with one cursor, or you can set both values for sldier with two cursors like this: `values={[0,100]}`"
check below issue

[2019-10-15 11:07] #142 closed

[2019-10-16 10:37] PeaGo commented on #138
Have you resolved this issue ?

[2019-10-22 06:48] mbsyaswanth commented on #57
any progress on this issue?

[2019-10-28 12:50] #135 closed

[2019-10-28 12:51] #128 closed

[2019-10-31 09:39] munafmohammed opened #148 "Step not working"
I want a slider from 0 to 100. I want the user to select step sizes of 20. i.e. I want to avoid the selection of 15, 10, 11 etc.
Here is my code.
[code]
It doesn't work. I am still able to select 10, 11, 12 etc.

[2019-10-31 09:56] munafmohammed commented on #148
Setting snapped={true} resolved the issue.

[2019-10-31 09:56] #148 closed

[2019-11-13 15:56] munafmohammed opened #149 "Add step names like in scale"
Hi,
I want to know if we can mark the steps like in below image. I want it to look like a scale.

<img width="149" alt="Screenshot 2019-11-13 at 9 25 26 PM" src="https://user-images.githubusercontent.com/50137781/68780351-2d00b380-065c-11ea-893b-e57cadfc96d5.png">

[2019-11-14 06:34] munafmohammed commented on #141
@maheshshrigod Can you please help me in implementing item labels. How did you achieve that? A code snippet would help me.

[2019-11-14 08:24] munafmohammed commented on #140
Yes, please publish the new version on npm. I am waiting too.

[2019-11-14 08:35] ptomasroos commented on #140
Hi!

What happened was that I was about to change namespace because of the conflict with the upcoming gradle 5 release and then my assingment on react-native projects got removed.

I will do my best to do this during the week. But we will need to change the package name.

Sorry for not being more active, and thanks for the reminder!

[2019-11-14 09:02] maheshshrigod commented on #141
renderScale=()=> {
        const items = [];
        for (let i=this.props.min; i <= this.props.max; i++) {
            items.push(
                <Item  //items views allocation
                    value = {i}
                    first = {this.state.first}
                    second = {this.state.second}
                />
            );
        }
        return items;
    }

and Upper view wher

[2019-11-14 09:06] maheshshrigod commented on #141
export class Item extends Component {
    render() {
        return (
            <View>
                <Text style={ [ this.checkActive() ? styles.active : styles.inactive]}>{this.props.value}</Text>
                <Text style={[ this.checkActive() ? styles.line : {}]}> { this.checkActive() ? '|' : ''}</Text>
            </View>
        );
    }

    checkActive =()=>{
        if(this.props.val

[2019-11-14 09:12] maheshshrigod commented on #141
Custom view

`export class Item extends Component {
render() {
return (
<Text style={ [ this.checkActive() ? styles.active : styles.inactive]}>{this.props.value}
<Text style={[ this.checkActive() ? styles.line : {}]}> { this.checkActive() ? '|' : ''}
);
}

checkActive =()=>{
    if(this.props.value >= this.props.first && this.props.value <= this.props.second)
        return true
    else
        r

[2019-11-19 13:29] Staarks commented on #125
Any updates on this?

[2019-11-19 14:25] Staarks commented on #125
It seems that the npm version is outdated.
What I did is change the dependency to this:

    "@ptomasroos/react-native-multi-slider": "https://github.com/ptomasroos/react-native-multi-slider",

minMarkerOverlapDistance is now working, but I got this strange bug on the slider where values are being show. Is there a switch for this?

[2019-11-19 14:54] Staarks commented on #125
I commented this code out because I can't figure out what to pass to customLabel to not show. Any suggestion? The documentation is not updated anymore.

        {/* <Label
          leftDiff={leftDiff}
          oneMarkerValue={this.state.valueOne}
          twoMarkerValue={this.state.valueTwo}
          oneMarkerLeftPosition={positionOne}
          twoMarkerLeftPosition={positionTwo}
        /> *

[2019-12-01 06:32] rafser01 commented on #53
add values prop. Like values={[0, 10]};
Here 0- minimum marker value, and 10 - maximum marker value.

Example code:
`<MultiSlider
        values={[0,10]}
        isMarkersSeparated={true}
        customMarkerLeft={(e) => (
          <View>
            <Text>{e.currentValue}</Text>
          </View>
        )}
        customMarkerRight={(e) => (<View>
            <Text>{e.currentValue}</Text>

[2019-12-04 06:02] baconcheese113 commented on #138
[code]

Get this warning every time a the slider component is mounted

[2019-12-05 01:52] yuenlye commented on #113
@spyshower Can you set up `DotMarker` such that the `<View>` container is larger than the `Circle`? Hopefully the effective touch size of the component is increased without increasing the visible size of the marker itself.

An example:

[code]

[code]

[2019-12-12 02:02] pkail opened #150 "Option for values to be in English-language format (with a decimal point rather than a comma)"
- [x ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

values returns numbers in continental European format (e.g., 4,5) rather than English-speaking format (4.5).

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-12-12 02:35] pkail commented on #150
I apologise if there is something obvious I have missed.  The language setting on my iPhone is English, and other numbers come out in the English format.

[2019-12-12 09:10] sytolk commented on #138
Maybe this is fix for this issue:
https://github.com/ptomasroos/react-native-multi-slider/compare/master...balbirsng:master
@balbirsng what about to create new PR for this ?

[2019-12-12 13:19] pkail commented on #150
I think the problem was that values is an array.  Quite where the second element of the array is coming from, I don't know, since I only have one cursor.  I'll look more closely at the code.

[2019-12-12 13:19] #150 closed

[2019-12-13 12:30] sibelius opened #152 "enable pass empty array values"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I'd like to pass an empty array to `values` prop

## Steps to Reproduce

`values={[]}`

## Expected Behavior

It should not break

## Actual Behavior

It breaks because it cau

[2019-12-18 05:56] glburgess commented on #138
I am also getting this error message, it would be great if the previous mentioned fix worked or one was developed. Thank you in advance!

[2019-12-18 07:04] sytolk commented on #138
I have tested it and no this "fix" not works.. but its appers that this project is not actively maintained @ptomasroos ?

[2019-12-18 07:13] ptomasroos commented on #138
I’m currently not in the process of releasing updates to our apps. But feel free to send a pull request!

[2019-12-18 12:58] sytolk commented on #138
ok you can review this :)
 https://github.com/ptomasroos/react-native-multi-slider/pull/151

[2019-12-27 08:47] keung7251 opened #153 "display nothing in web"
display nothing in web

  "react-native": "0.61.4",
   "react-native-web": "^0.11.7",

 test: /\.(js|jsx|mjs)$/,
  include: [
    path.resolve(appDirectory, 'src'),
    path.resolve(appDirectory, 'node_modules/@ptomasroos/react-native-multi-slider'),
  ],

 <View>
                    <MultiSlider
                        values={[this.state.values[0], this.state.values[1]]}

[2020-01-06 10:45] mitaxe commented on #138
Any updates?

[2020-01-06 11:05] vinipachecov commented on #134
@Ethan0007  Could you print the component and the prop values you are using?

For example, what is the step value you are using?

[2020-01-18 21:27] joshuakoh7 opened #156 "Slider not displaying decimal value properly"
[code]

Passing a range_max value of 5.0 places the slider at the end of the range when it should be about 1/6th (5/30)

[2020-01-24 19:00] Aryk opened #157 "Slider stops short when allowOverlap=false"
I noticed that I cannot go to the end of my slider when this is false. If I make it true, even when there is only one handler/marker, it will go to the end.

I need this "true" when in single mode and "false" when in double mode.

This seems like a bug or at the very best a confusing "thing you have to know".

[2020-01-27 19:41] rodriguezmanu commented on #57
+1

[2020-02-04 08:15] ptomasroos commented on #157
Thanks! Can you create an example?

[2020-02-04 08:16] ptomasroos commented on #156
You can always handle this outside the multislider for presentation or getting the value you require. And let the MultiSlider talk int's

[2020-02-04 21:20] #118 closed

[2020-02-06 10:35] ptomasroos commented on #140
All right, I'll publish a update shortly now that I've got some time to work with the multi slider again! 🎉and help from the community!

[2020-02-06 10:35] #140 closed

[2020-02-06 10:35] ptomasroos commented on #138
Fixed in master! Soon published

[2020-02-06 10:35] #138 closed

[2020-02-06 15:09] zamponotiropita opened #162 "Please remove deprecated ViewPropTypes"
PropStyles are deprecated in the current RN version. Please remove them.
Otherwise compatibility with the current `react-native-web` (1.12.0) is broken as it has completely removed PropTypes

[2020-02-06 18:08] baconcheese113 commented on #140
@ptomasroos Will you be publishing to npm with the same package name?

[2020-02-06 20:24] ptomasroos commented on #140
Yes! Need to fix the regression first

[2020-02-06 20:24] ptomasroos commented on #140
Will fix that during tomorrow

[2020-02-07 05:47] glburgess commented on #140
I want to thank you tending to this! I use it a lot and please know how much I genuinely appreciate the work you and others have done!!

[2020-02-07 12:46] ptomasroos commented on #162
All right! What did react-native-web replace them with? Flow? Ts?

[2020-02-08 13:25] zamponotiropita commented on #162
I'm not very familiar with that topic. But check out:
https://github.com/necolas/react-native-web/releases/tag/0.12.0

See especially:

[2020-02-08 13:28] ptomasroos commented on #162
Flow types then, I will see if I can fix this until the next release!

[2020-02-09 03:05] zaunaf commented on #162
Any recommended workaround for the time being?

[2020-02-09 09:03] zamponotiropita commented on #162
@zaunaf either set alias for proptypes in your webpack config file or check out https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types

[2020-02-11 00:58] M1chaelChen opened #164 "Snapshot testing error: Cannot use import statement outside a module"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

version: master branch

Got `SyntaxError: Cannot use import statement outside a module` when shallow rendering with `react-native-testing-library`

## Steps to Reproduce

Slid

[2020-02-12 15:53] ivnnv opened #165 "[BREAKING CHANGE] DefaultLabel shouldn't be shown by default"
Hi,
After updating my app to use the actual commit of the package (#75e9242 in the meantime you update the npm package), my customised slider showed two unexpected "floating labels" above the markers, which never were there:

Before:
![custom slider](https://user-images.githubusercontent.com/23552631/74350646-c2fbc580-4d94-11ea-99ae-de26f5236e2d.png)

·

After:
![floating-labels](https://user-imag

[2020-02-12 15:59] ptomasroos commented on #165
Yes!

I've already created a commit for this locally,

A new prop called enableLabel.

Will commit this before making a real release, discovered it as well! Thanks for pointing out!

[2020-02-12 16:01] #165 closed

[2020-02-13 07:21] luvnish19 opened #166 "How to change slider value when user tap on custom position?"
I want to put tap/click functionality on slider. If I tap on 10th position then slider should switch on 10th position and so on.

[2020-02-16 14:38] shachardevops opened #167 "warnings - componentwillmount has been renamed and is not recommended for use"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-02-17 05:50] luvnish19 commented on #166
@ptomasroos Please answer this query. I will be very thankful to you.

[2020-02-17 20:32] baconcheese113 commented on #138
@ptomasroos imo, this really shouldn't be closed until the fix is pushed to npm. Most of the users submitting issues here are still working off 1.0.0...which is almost 2 years outdated.

[2020-02-17 20:57] ptomasroos commented on #138
Thanks for the feedback. But github closes all issues on merge of a pull request for instance. I haven’t seen a single repo keeping issues open until released.

[2020-02-18 11:53] ajay-dev-j opened #168 "Test case use native testing library"
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

@All am using this slider which works so cool. But write tst cases for this using the native testing library is a big challenge for me.
Especially I couldn't able to write test for the onValueChange here.

If this is an issue which cant be handled, please let me know.

Am not pr

[2020-02-19 07:56] sytolk opened #169 "customLabel is behind the customMarker (hidding the Label value)"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

I have customLabel and customMarker on the top of the Slider

[code]

## Expected Behavior

Label value is not visible.
If I try to set high zIndex to t

[2020-02-19 08:02] ptomasroos commented on #167
This is fixed in master, but waiting to be released after someone tries out the pending pull request

[2020-02-19 08:02] #167 closed

[2020-02-19 08:56] sytolk commented on #169
Consider skip backgroundColor in DefaultLabel
[code]

[2020-02-19 08:56] #169 closed

[2020-02-19 09:03] sytolk opened #170 "Touch style is not set"
It's have config touchDimensions:
https://github.com/ptomasroos/react-native-multi-slider/blob/master/README.md#partial-report-of-the-props

But this values are ignored now: `slipDisplacement`, `height`, `width`
[code]
height and width can be set here -> this values can increase/decrease touch Marker area.
[code]

but slipDisplacement is for ??

[2020-02-20 10:16] ptomasroos commented on #168
Can you create a test repo for this.

[2020-02-20 15:25] mwillems1994 commented on #124
We are experiencing the same issue, have you ever found a fix to this?

[2020-02-21 05:57] RandomSpectrum opened #171 "Labels do not show up at all"
[code]

I see that a new property 'enableLabel' was introduced, but I have played around with it and some other properties and I cannot seem to get the labels to show up. Am I missing something?

[2020-02-21 07:06] baconcheese113 commented on #171
Are you using the latest version from github, or the one from 2 years ago through npm?

[2020-02-21 07:31] ptomasroos commented on #171
I will publish the latest version to npm in just a few minutes!
Labels should then be visible, feel free to open up a new issue if it persists

[2020-02-21 07:31] #171 closed

[2020-02-21 07:47] #153 closed

[2020-02-21 07:48] ptomasroos commented on #162
Thanks for the tips in this thread, i will try to move to flow types in the coming months

[2020-02-21 07:49] ptomasroos commented on #171
2.2.0 is now released feel free to try it out

[2020-02-21 07:49] #157 closed

[2020-02-21 14:11] daniloab opened #172 "How to test slider component with testID?"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I want to test the slider component on my application, but I need to have a testID. Could we implement a one? Where is the component that we can set a testID?

[2020-03-02 08:44] ptomasroos commented on #172
Sure, I don't mind. Feel free to send a pull request and we can add this.

[2020-03-03 18:33] oporter1 opened #173 "MultiSlider can't display completely in android"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I have searched through all of the Android UI related questions and have asked on stackoverflow as well. I am unable to find a solution.

I have updated all packages today and

[2020-03-03 18:48] ptomasroos commented on #173
Please make sure to use the latest version. Probably your lock file is restricting it from being downloaded?

[2020-03-03 19:50] oporter1 commented on #173
@ptomasroos what version should it be on? I don't have any restrictions on my lock file. I am on Expo which sometimes causes issues with packages...

[2020-03-05 00:55] jcohenho commented on #80
This link no longer works, do you have another example of resetting functionality?

[2020-03-18 03:17] cnickless commented on #95
I have the same request. Say a slider with a max range of 30 with a buffer of 3 to the min and max.  Total possible range is 36 but the max selected distance is 30.

- When Marker1 = 0, then Marker2 should stop at 30 (not 36).
- When Marker1 = 3, then Marker2 should stop at 33 (not 36).

Right now, I can stop override the values, but the slider markers do not update the position when dragging is f

[2020-03-18 06:57] ptomasroos commented on #95
Today this is not possible @cnickless
Can you explain to me the use-case for having a "buffer" on each side? Is it a design purpose or something else?

[2020-03-19 10:36] sytolk commented on #172
Maybe we can have something like datetime picker solution: https://stackoverflow.com/a/60746762/2285631

[2020-03-26 22:13] darkbasic opened #181 "Setting the same number does not update the component"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

If you have validation rules in place it may happen that you set the same value as the previous one, but since the UI does not reflect it the component needs to be updated. Un

[2020-03-27 05:10] ptomasroos commented on #181
You can force this by setting a key={random} a regular react feature. That will nuke the component.

[2020-03-30 09:23] JongGyuChoi opened #183 "enablelabel error"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

![Screen Shot 2020-03-30 at 6 18 10 PM](https://user-images.githubusercontent.com/33406511/77896300-06fa4980-7

[2020-03-31 12:55] fredyonge opened #184 "Custom Marker MultiSlider Problem on iOS"
##Description

  If I use a custom marker for slider, it shows a SplittingLine in the middle. This only happens on iOS , using two sliders, and a custom marker.

## Steps to Reproduce

`<MultiSlider
                        values={[values[0], values[1]]}
                        optionsArray={optionsArray}
                        selectedStyle={{
                            backgroundColor: COLOR_P

[2020-04-03 10:58] #184 closed

[2020-04-03 14:22] ptomasroos commented on #184
Can you explain what you fixed @fredyonge ?

[2020-04-06 14:24] AndradeB91 opened #185 "EnabledTwo props is not working"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

  I'm trying to use two markes with Expo. The component appears on the screen but only one marker is rendered.

## Steps to Reproduce
Simply render the component without passi

[2020-04-07 11:09] g-moskovskyi commented on #185
The same :(

[2020-04-14 01:16] JongGyuChoi opened #186 "invariant violation : text strings must be rendered within a <Text> component"
![Screen Shot 2020-04-14 at 10 13 06 AM](https://user-images.githubusercontent.com/33406511/79175393-8f8ef300-7e38-11ea-8be5-c51a54474604.png)

- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expec

[2020-04-14 01:36] #186 closed

[2020-04-15 08:01] satasuk01 opened #187 "Can't slide to the maximum value"
<MultiSlider
            values={[props.answerVal.duration]}
            onValuesChange={(value)=>answer(value, 'duration')}
            max={6}
            min={2}
            step={1}
            // containerStyle={styles.stepContainer}
            sliderLength={410}
            selectedStyle={{ backgroundColor: 'rgb(37, 75, 135)' }}
            unselectedStyle={{ backgroundColor: 'rgb(37, 75, 1

[2020-04-15 09:06] satasuk01 commented on #187
after restarting Expo, It's worked fine.

[2020-04-15 09:06] #187 closed

[2020-04-15 15:50] #100 closed

[2020-04-15 20:17] Sumit1993 commented on #185
Try using the value prop.

Eg: `<MultiSlider
                                    values={[30, 40]}
                                    min={10}
                                    max={100}
                                    />`

This worked for me.

[2020-04-20 15:50] JohnFelixLim commented on #185
You should pass enabledOne={true}  and enabledTwo={true}

[2020-04-20 15:53] JohnFelixLim commented on #185
You should pass values as an array with two default values .
Eg: <MultiSlider values={[3, 6]} />

[2020-04-21 04:25] edritech93 commented on #124
same for me

[2020-05-03 20:05] Aryk commented on #124
Me too...I think it has something to do with blocking the gesture or pan responder...something related to that...I'm going to try to see if I can wrap it with some kind of View with some options on it, will report back.

[2020-05-04 14:57] StarryFire opened #189 "valuePrefix & valueSuffix don't work."
I was expecting to see the prefix passed as prop, prefixed to the value displayed in the label but it doesn't show. I don't think there is any such functionality provided in the code either.

[2020-05-06 19:50] Aryk commented on #124
This hack made it work for me. I basically uncontrolled the component...

[code]

[2020-05-15 23:05] Aryk commented on #124
Nevermind, I just checked the component again and it stopped working, which is strange because it was working for a period...

[2020-05-17 18:37] rikinshah23 opened #192 "Using the multi select slider for time range?"
Hello,
Thank for this great component. very useful for my project.

I am planning to use it as time range selector.
If I give  `min={8} max={24}` it fulfills the purpose but for time selection I need to show values in 08:00 to 24:00 format.

is it possible or any suggested workaround using this control?

[2020-05-20 02:33] rikinshah23 commented on #192
I realized we can format the value like this:

pass prop `marker={'left'} or right` to the `LabelBase `component.

and then just modify the value using that prop like this :
[code]

[2020-05-20 02:33] #192 closed

[2020-05-20 02:36] rikinshah23 opened #193 "Using Custom label from Example"
Hello Thanks for this control. Its very helpful.
I am trying custom label example from the Example folder:

[](https://github.com/ptomasroos/react-native-multi-slider/blob/master/examples/Basic/CustomLabel.js)

If I slide the slider it shows the custom label one at a time. Basically it shows only for the one being pressed.

How do I always show both ?

Thanks

[2020-05-21 11:31] Anujmoglix opened #194 "Show custom Label every time"
HI ,
  I am facing issue to show custom label my slider . I want to show my custom label every time not only on slide . means there should be step name in it,
  I found issue with>  vertical={true}
that when it is true it label is showing in horizontal line . My code is as following

`   <MultiSlider
                     containerStyle={{marginBottom:100,}}
                    vertical={true}

[2020-05-21 11:31] Anujmoglix commented on #183
share full code

[2020-05-21 11:38] Anujmoglix commented on #149
same requirement

[2020-05-21 11:45] Anujmoglix commented on #171
My requirement is to show custom label with the different value in every step. Like Range value point .

[2020-05-21 16:56] awaldron opened #195 "How can I make the slider track MIN/MAX differ from selectable MIN/MAX?"
- [ X ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ X ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I'd like the make the MIN/MAX track values different than the MIN/MAX selectable values. In this instance, I'd like an AGE slider track range from 0 to 100, but not allow

[2020-05-28 10:27] antonigiske commented on #131
I can't seem to make this work on web. Is there anything in the works for making it compatible with web?

[2020-06-03 06:12] SpotHimesh commented on #171
Hey @Anujmoglix did you find a solution to your problem?

[2020-06-03 08:29] StevenMalaihollo commented on #183
I got the same error, fixed it by reducing the amount of steps in the slider. I think this allows the label to stay inside the slider area.

[2020-06-07 15:24] Aryk opened #198 "programatically move slider with function..is it possible?"
I'm on 2.2.2 of the slider. I can upgrade if needed.

Anyway to programatically move the sliider.

I noticed that once it gets set according to the first initial value, there is no way to move it without touch the display and moving the slider.

I would like to for example, move to a different index on the slider based on options selected on a different screen while the previous screen was mounted

[2020-06-07 17:59] ptomasroos commented on #198
Or create a new component by changing the key={new value}

[2020-06-09 10:28] #198 closed

[2020-06-09 15:45] Aryk commented on #198
Fair enough, I will try that! Thx

[2020-06-15 10:39] anujwit commented on #194
Add  toValue: 1 in Animated.timing.

[2020-06-24 17:34] alDuncanson commented on #185
@AndradeB91 what props are you passing?

Passing `values{[firstValue, secondValue]}` fixed this for me

[2020-07-02 06:47] Abdulraheem42 commented on #131
How to work this dependencies react-native-multi-slider with react native expo? but i use This is not working.

[2020-07-02 15:56] raynor85 opened #199 "Markers cannot be dragged from the overflowing side on Android"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

On Android, when the marker is on the right or left edge, the half part that overflow out from the track doesn't receive touches, therefore it is not possible to drag it

## E

[2020-07-03 05:22] #45 closed

[2020-07-03 05:23] #199 closed

[2020-07-09 06:45] peter1a commented on #95
I have same problem if I change Marker1 I want to change also Marker2, I'm getting updated value with state but Marker2 position doesn't change, what should I do?

[2020-07-18 20:00] dusanristic opened #201 "How can I set height of the slider?"

[2020-07-19 10:48] #201 closed

[2020-07-23 22:22] saurabhpandey16 commented on #24
@fauzzi FACING SAME ISSUE.

[2020-07-23 22:33] AishwaryaSurana commented on #24
@fauzzi Same happened with me. How were you able to correct? Is there any addition for big max value till now @ptomasroos

[2020-07-25 07:48] MathewChanda commented on #183
Still have the issue when I tried to reduce the number of steps. Is it possible to send a copy of your code?

[2020-07-25 08:15] MathewChanda opened #203 "Tooltip above the slider"
Hi,

Is there any way to add a tooltip above the slider that indidicates the value that you are currently on?

[2020-07-25 08:16] MathewChanda commented on #203
Here's how to do it

<MultiSlider
                    values={[this.state.values[0], this.state.values[1]]}
                    sliderLength={280}
                    onValuesChange={this.multiSliderValuesChange}
                    min={0}
                    max={999}
                    step={1}
                    enableLabel
                    customLabel={console.log(this.state.values)}

[2020-07-25 08:16] #203 closed

[2020-07-25 08:43] MathewChanda opened #204 "Custom Label not moving"
Is it possible to make the custom label move with the slider similar to the enableSlider default?

<MultiSlider
                    values={[this.state.values[0], this.state.values[1]]}
                    sliderLength={280}
                    onValuesChange={this.multiSliderValuesChange}
                    min={0}
                    max={999}
                    step={1}
                    en

[2020-07-31 00:19] gr0x0 commented on #173
Hi! I had the same issues on android, but I resolved it by setting backgroundColor and borderColor. For instance:

In any case, setting elevation in markerStyle to some value higher then 0 might also work as a temporary solution, as it also did for me.

[2020-07-31 13:40] jeremyblalock commented on #187
Still having this issue. Is anyone else experiencing this?

In our example we have a single slider marker, and `snapped` is `false`.

[2020-08-05 16:21] skynetcmg47 commented on #124
use **onValuesChangeFinish** instead of **onValuesChange** works for me.

[2020-08-05 18:48] Aryk commented on #124
Right but that is completely different behavior especially if you need a function to run while the user is moving the slider (like with a debounce).

My solution is the only working solution if you want that behavior.

[2020-08-06 09:22] bjornarhagen opened #205 "Crashes web build for expo"
Expo cannot build web version when using this module.
This is the error I get:

[code]

[2020-08-10 20:09] apedroferreira opened #207 "Issue with marker position in edges of in range slider"
Hey, first of all thank you for creating this library, it works great and is so customizable, it helped me a lot!

The only issue I noticed is that when you drag a marker to the extremes of the range slider, it actually goes a bit beyond the edges of bar(especially in iOS).

In either iOS and Android this does not match the default native slider behavior.
I would be much better if the markers stop

[2020-08-12 00:55] aborile commented on #187
Still having this issue.
Not using expo, and I have single slider marker, snapped is false
[code]

The weird thing is that sliding to the maximum value at first is working. But when i slide to another value, from then it doesn't slide to the maximum value anymore

[2020-08-19 07:04] bjornarhagen commented on #205
For some weird reason, if I download the ZIP of the same release version and put it in my project folder it works. But when I use the node_modules version, it doesn't work.
So this works great as a temporary workaround, but should probably still be fixed.

[2020-08-19 07:07] ptomasroos commented on #205
Ah thanks!

I will make sure to do a release then if its sorted out in the latest version of the code base?

[2020-08-19 07:11] ptomasroos commented on #205
This seems to be similar, are you sure you're not missing on a babel plugin?
https://github.com/styleguidist/react-styleguidist/issues/1513

[2020-08-19 09:29] bjornarhagen commented on #205
That does indeed seem like the same issue.
I installed `metro-react-native-babel-preset` and replaced `babel-preset-expo` with it in `babel.config.js`, but the error prevails. I also tried to add `@babel/plugin-proposal-class-properties`, but it still fails.

[2020-08-19 11:08] arthurg91 opened #208 "Crash simulator"
Environment:
OS: macOS 10.15.6
Node: 14.3.0
Yarn: 1.22.4
npm: 6.14.4

"react": "16.11.0",
"react-native": "0.62.2",
"@ptomasroos/react-native-multi-slider": "^2.2.2",

Here is the code
[code]

Error and simulator memory leak
[code]
Reboot doesn't help

[2020-08-29 17:41] CallMeHeisenberg commented on #195
Any updates on this?

[2020-09-01 08:40] AmauryLiet commented on #105
Seems like `stepLength` calculation is wrong, which cause the bug.

For reference [the calculation](../blob/94fb574d507e86a41fb44dec358bbcd45cf20dec/MultiSlider.js#L54):
[code]

If your slider goes from, let's say, 0 to 10:
- `this.optionsArray = [0, 1, ... 10];` => its length is 11
- however, `this.props.sliderLength` should only be divided by 10 (representing the 10 sections `0-1`, `1-2`, ..., `

[2020-09-01 10:55] #105 closed

[2020-09-01 13:40] WookieFPV opened #211 "outputted numbers have to many decimal digits"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

The values produced by the slider have more digits than they should.
I want to select a number within the range from 0 to 6 and the step resolution should be 0.1.

## Steps to

[2020-09-10 10:13] RRMoelker commented on #113
Note, changing the marker did nothing to the touchable area for me. The marker and hit area seem disconnected.

[2020-09-14 06:37] CaptainLiao commented on #134
use allowOverlap prop

[2020-09-22 14:32] iddahadev commented on #207
Hello 👋, I have the same problem here, the thumb goes beyond the boundaries of the slider.
Is there a configuration to follow or is it an unwanted behavior?

Thanks!

[2020-10-09 14:51] arthurg91 commented on #208
falls on large numbers 3 000 000 000

[2020-10-09 14:51] #208 closed

[2020-10-12 08:45] DevechhaR commented on #152
Even If I pass equal min-max values, I got the same error as above.
`min={10}
max={10}
values={[10,10]}`

<img width="377" alt="Screenshot 2020-10-12 at 14 13 09" src="https://user-images.githubusercontent.com/51913454/95725375-36900280-0c95-11eb-95ec-3d0a62545c5f.png">

[2020-10-29 12:26] cisplRejjak commented on #166
Yes please answer this query!

[2020-11-06 13:24] pmella16 commented on #166
+1

[2020-11-08 07:53] sanketkalawade opened #214 "Error: Out of memory on passing 8 or more than 8 digit value to max prop"
Can anyone help/guide me here,  max prop is working till 7 digits but i have 13 digits number. Note:- I'm just beginner
 my code :-
 <MultiSlider
  values={[multiSliderValueState[0], multiSliderValueState[1]]}
                        sliderLength={280}
                        onValuesChange={multiSliderValuesChange}
                        min={multiSliderValue[0]} // minimum is 0

[2020-11-09 12:41] nsbingham commented on #205
I'm running into the same issue. I'm using expo 39.0.2. Using the downloaded ZIP works in the expo web build, but throws the error below when trying to load on an Android emulator.

[code]

[2020-11-09 13:01] nsbingham commented on #205
@bjornarhagen I was able to get the NPM package running the expo web build by following the steps in this similar issue - https://github.com/akveo/react-native-ui-kitten/issues/996#issuecomment-645448007.

My webpack.config.js ended up looking like this:
[code]

[2020-11-09 17:35] antoinefBam opened #215 "When will release 2.2.3 be available ?"
Hi 😁
Thanks for this nice customable library !

I can see that some nice extra features have been added on the master branch since [the last release v.2.2.2](https://github.com/ptomasroos/react-native-multi-slider/releases/tag/v2.2.2). Such as `testID`, `minMarkerOverlapStepDistance` or `markerSize` props.

I am currently using your master version for my app. Is there any reason why these last upd

[2020-11-09 20:33] ptomasroos commented on #215
No there is no real reason, was waiting for user feedback before pushing it live! :)

[2020-11-14 14:30] pavelgolubev commented on #215
@ptomasroos can you publish latest versions on npm?

[2020-11-18 17:15] CoryFoy commented on #164
If anyone else is running into this, I got around it by adding this to `transformIgnorePatterns`

[code]

[2020-11-20 20:31] oporter1 commented on #173
this worked. I wanted to keep the circle white with the border color black but for whatever reason Android isn't picking up on that style. When I changed the background color to a solid color it is now visible. we can close this.

[2020-11-20 20:32] #173 closed

[2020-12-02 19:28] jparksecurity opened #216 "[Feature Request] Disable tapping and moving slider"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I want to disable the tapping and moving the slider, but I don't think there is any prop to do so.

I think this issue would be the opposite of https://github.com/ptomasroos/r

[2020-12-14 19:13] pherrera91 opened #217 "Change values programmatically prevents user from selecting max value"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

When the component first mounts, the user can select any value from `min` to `max`. But after mount, if the `values` prop is set (on componentDidMount or button press), the va

[2020-12-14 19:15] pherrera91 commented on #217
https://snack.expo.io/N9kiXRMDT

[2020-12-18 15:18] Delph opened #218 "Accessibility (TalkBack) support?"
I wanted to enquire about the accessibility support for this library. Testing with TalkBack has been pretty poor. I can label my custom marker components with `accessible={true} accessiblilityRole={'adjustable'}` and select the markers, but I can't control them in the normal way (volume up/down or using the local context menu). I suspect the event for the volume up/down buttons isn't be received c

[2020-12-18 15:35] Morgan-jarry opened #219 "Update `CHANGELOG.md`"
Could you please rename `CHANGELOG` to `CHANGELOG.md` and keep it up to date ?
I'm on a project that uses your library and it uses the v1. I don't know what are the breaking changes on v2 since you don't keep it up to date.

[2020-12-18 22:09] ptomasroos commented on #219
We moved over to GitHub releases hence there was no further updated to the CHANGELOG file.

https://github.com/ptomasroos/react-native-multi-slider/releases

[2020-12-18 22:09] #219 closed

[2020-12-21 09:23] anthlasserre commented on #216
I think it is a good idea but it can actually works by a different way.
With **enabledOne** and **enabledTwo** props.
If you set theses props values to false it will disable the trigger on left and right markers.

In my case I created a useState and a useEffect that will set the disabled state value based on the toggle value.

Exemple:
[code]

![Enregistrement de l’écran 2020-12-21 à 10 17 34](h

[2020-12-21 19:44] jparksecurity commented on #216
@anthlasserre

Sorry, I wasn't clear about what I wanted.

I don't want to move the slider by touching the slider, but I still want to be able to move a marker in order to change the value.

If I set `enabledOne` and `enabledTwo` to false, I can't change any value at all.

[2020-12-25 10:09] lobotomoe commented on #217
@pherrera91 I had same issue. Just use `allowOverlap={true}`. I think this property should be true by default if only one marker is used.

[2020-12-28 13:39] divanshArora commented on #218
Doesn't work on ios as well with voice over

[2020-12-29 19:37] pherrera91 commented on #217
Thank you very much @lobotomoe! I'll try that!

[2021-01-03 19:32] KyleAsaff commented on #124
I tried @Aryk's solution and can't get it to work. multi slider won't slide correctly inside of a modal. does anyone have any solutions to this problem? I need a slider with multiple a min/max otherwise Id use `@react-native-community/slider`. here is a GIF of the problem:

![bug](https://user-images.githubusercontent.com/1404441/103487050-bc28d780-4dd8-11eb-84f0-b245ca55522f.gif)

here is my code

[2021-01-06 09:56] uday8373 commented on #65
HI, I am facing the same issue with react-native-navigation when i am not using the drawer it is okay but inside drawer component the slider is not moving it is sticking.

[2021-01-19 01:54] richardwu commented on #215
Bump!

[2021-01-19 07:54] ptomasroos commented on #215
Thanks for bump! Will send out a release

[2021-01-28 14:42] brunokiafuka commented on #205
This worked for me 😅

[2021-02-02 18:41] shareef-dweikat commented on #207
Just add  width to containerStyle
ex:
` <ScrollView scrollEnabled={isScrollEnabled}>
              <MultiSlider
                onValuesChangeStart={() => setIsScrollEnabled(true)}
                onValuesChangeFinish={() => setIsScrollEnabled(false)}
                isMarkersSeparated={true}
                min={0}
                max={5200}
                sliderLength={300}
                valu

[2021-02-22 12:08] TamasFarago opened #222 "How to change marker's size in Android?"
My marker's size in Android is too small. It makes difficult to use. I want to make it bigger. On iOS the size is perfect.

<img width="234" alt="Screenshot 2021-02-22 at 13 08 42" src="https://user-images.githubusercontent.com/67281301/108706595-1c054a00-750f-11eb-802d-2f2d83ffc9ed.png">

Expected Behavior

 I expect it to be bigger so it's not difficult to use in Android

Actual Behavior

  Mark

[2021-02-22 12:18] #222 closed

[2021-02-22 12:18] TamasFarago commented on #222
Solved it with a custom marker

[2021-03-05 02:34] youfoundjames commented on #215
Hi, any plans for release? Need `markerSize` for a project and don't have access to that or `testID` etc as of latest (2.2.2). Thanks for your work!

[2021-03-06 01:28] teeaaspoon opened #223 "Two Markers and Styling Label"
Hi I'm using Two Markers and I want to style a label so that it follows the marker around.
The default label has the correct behaviour, but I just want this label to be on the bottom instead of the top

Is this even possible?

## Expected Behavior
Label's that appear on the bottom of the slider
![image](https://user-images.githubusercontent.com/16376909/110190382-033f4300-7df1-11eb-876e-9aa8b95b41

[2021-03-11 11:06] anthlasserre commented on #215
Waiting this v2.2.3 version you can set your package.json to link directly github repo.
[code]

[2021-03-14 12:25] AsadAli1 commented on #166
I have managed to add slider TAP/CLICK functionality for one thumb slider, you can use below fork to use the functionality. You just need to pass one prop "allowSliderClick:true" to make slider tappable. I have also open a pull request to a author.

https://github.com/AsadAli1/react-native-multi-slider

[2021-03-17 17:05] calinbodnar commented on #187
The workaround that worked for me was to use `allowOverlap={true}`

[2021-03-20 04:30] Saad-Bashar commented on #187
Yeah, allowOverlap={true} works when we only have one element inside values.

[2021-03-23 23:22] lindboe commented on #207
We've been seeing this, and on Android the marker isn't responding to touches on the outer half when on the edges (e.g., the sections where the track doesn't exist).
Setting width in containerStyle doesn't seem to change anything.

[2021-03-26 16:59] TomasSestak commented on #207
Did you solve this issue?

[2021-03-26 17:00] TomasSestak commented on #199
It doesn't work for me when using custom Element as Indicator

[2021-04-05 22:19] phelipetls opened #226 "Prevent marker from being incremented only"
I want to be able to prevent a marker from being incremented only.

The `enableOne` prop set to false disables every interaction with the marker, but I'd like to disable only increments.

Is it currenlty possible? I can't figure out how to do it.

Thanks.

[2021-04-08 16:44] jaroslav009 commented on #184
same issue

[2021-04-09 14:18] edwardffs opened #227 "Vertical slider not behaving like it should with Flex layout"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2021-04-14 02:48] arstan001 opened #228 "Is it possible to make one marker fixed?"
I know there is [snapped] but it doesn't make anything fixed or maybe I don't get how it should work.

<MultiSlider
sliderLength={270}
values={bodyFat}
onValuesChange={value => setBodyFat(value)}
min={0}
max={40}
// allowOverlap={true}
// onValuesChangeFinish={handleSlider}
selectedStyle={{ backgroundColor: 'red', opacity: 0.5 }}
unselectedStyle={{ backgroundColor: '#3773F3' }}
isMarkersSeparated=

[2021-04-19 08:47] khanshamshad32 opened #229 "In iOS screen gets pop if the left marker is moved from extreme left."

[2021-04-26 07:07] Balthazar33 commented on #141
But setting this doesn't allow me to go beyond that value.
Say, if the available options are 0,1,2 and I set values={[1]}, I can't go beyond 1.

[2021-05-07 09:17] jaroslavsiroic commented on #195
@awaldron did you manage to achieve this functionality?

[2021-05-07 09:20] jaroslavsiroic commented on #226
Hey @phelipetls have you found a way how to do it?

[2021-05-13 05:32] formaldehydeson commented on #207
I'm having this same issue...

[2021-05-20 15:50] agunay commented on #215
I tested the latest version by directly targeting the current master as @anthlasserre has suggested. There seems to be a bug on Android marker not registering click events if it's located anywhere else rather than the middle (I used -5 to 5 range, with initial value of 0 on a single-marker vertical slider). Marker can be dragged if it stays in the middle. Touchable area seems to get stuck in the m

[2021-05-31 09:03] prathyusha597 commented on #223
I am didn't able to apply styles  for enable label
Please provide the idea for this
From  the past 2 days I am trying to rectify

[2021-05-31 09:04] prathyusha597 commented on #223
Is it do e

[2021-06-02 10:21] sharesoftinfo opened #232 "Using this npm , when release apk its triggerd error in live . But when using debug mode its work . can you please tell me how to fix this issue"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2021-06-02 10:23] #232 closed

[2021-06-02 16:34] emilmammadov opened #233 "Label of Vertical Slider behaving on horizontal axis"
When I set slider to vertical, labels not working as expected.
Slider is working on vertical axis but labels are on horizontal axis.
How can I solve that.

Thanks in advance

[2021-06-07 11:03] myckhel opened #234 "Please Release Master Branch 🙏🏽"
@ptomasroos  Please release master branch, its so frustrating seeing npm install running `bob build` every time.

[2021-06-09 22:18] timothyerwin opened #235 "Very difficult to move sliders on Android device"
Leaving a tip here for anyone else who might have trouble with the sliders being very hard to move on Android devices outside simulator...I think the default tiny track style is the issue...so just use this instead of transform scaling style.

[code]

[2021-06-09 22:18] #235 closed

[2021-06-20 16:04] barahonam1 commented on #124
If that is react-native-bottom-sheet, you should disable its content panning gesture. In other words:

enableContentPanningGesture={false}

Then the multi-slider will work.

[2021-06-21 15:35] eulerkochy opened #237 "Passing props to customLabel"
Is there a way to pass a user-defined prop to a `customLabel`? If so, what should be written? Using this,

[code]
the label is not getting rendered on pressing the markers.

[2021-06-28 09:43] Swatee16 commented on #207
I have solved with below property code
customLabel={(e) => {
}}

[2021-07-15 12:10] chandansingh01 commented on #189
It's passed inside the CustomMarker.In my case CustomMarker required prefix and suffix.Something like
[code]

[2021-07-16 14:38] FoxyGirl opened #238 "minMarkerOverlapStepDistance doesn't work"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

Thank you a lot for your amazing multi-slider.
I use the latest multi slider version "@ptomasroos/react-native-multi-slider": "^2.2.2",
but unfortunately `minMarkerOverlapStep

[2021-07-21 16:40] Harsh2110mishra commented on #238
Hey, Can you please help me to take the values and setState of the first cursor and second cursor values? I am not able to take values in the class-based components.

Here is my code, Can you please help to solve this issue. I want to take the first cursor value and setState and then the same for the second one.

[code]
How can I do this thing?

[2021-07-22 12:16] pallaviMN opened #239 "How to change selected tracker style"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2021-07-22 12:21] pallaviMN commented on #239
![image](https://user-images.githubusercontent.com/16952390/126638089-13a73a87-b454-4bc0-9273-c87e555d8b18.png)

Can change unselected to yellow but not selected one.
It remains as blue

[2021-07-22 12:21] pallaviMN commented on #239
![image](https://user-images.githubusercontent.com/16952390/126638167-1e788622-77c6-44f4-8d09-dacbc3f4d6a9.png)

[2021-07-22 12:30] pallaviMN commented on #239
![check](https://user-images.githubusercontent.com/16952390/126639313-02ad1907-61a5-4970-a276-128b80a906ad.jpg)

[2021-07-24 14:52] dinc334 commented on #239
Did you try selectedStyle prop?

[2021-08-05 06:39] urvashichhabra commented on #124
Any solution for this. Facing the same issue in ios with modal. Also tried gestureEnabled={false}

[2021-08-13 05:05] kingmaker9841 opened #242 "Proper Documentation"
Am I the only one here, or there is no proper documentation for this package?

[2021-08-13 06:38] ptomasroos commented on #242
Correct! The examples and the markdown is the documentation only.

[2021-08-13 12:07] chrissnape commented on #242
I was just thinking the same. I'm trying to get stepsAs to work, and I don't think I'm doing it correctly as there are no examples

[2021-08-14 02:57] kingmaker9841 commented on #242
Is there any easy way to style the label? I only saw `enableLabel` prop on the documentation.

[2021-08-14 07:02] ptomasroos commented on #242
In the README.md you can see that you can customise the Label by replacing the customLabel prop.

You can copy the DefaultLabel if you want to create your customised label.

[2021-08-14 21:31] timothyerwin opened #243 "Min/Max Issue"
I think there is some bug on this component...when you set min/max it works fine until you update value using `this.setState` after which max loses its value by 1...

So below...if I use `this.setState({ ...this.state, values: [5] });` then max only goes to 99 now.

[code]

[2021-08-16 14:48] chrissnape commented on #243
I have discovered this issue too

[2021-08-16 15:11] chrissnape commented on #243
If you set allowOverlap to true, it should work correctly

[2021-08-20 11:48] pietroanello commented on #223
@teeaaspoon Hey man, how did you accomplish to put the labels underneath the track?

[2021-08-20 12:03] pietroanello opened #244 "Why my Multislider.js is different from the repo?"
I was struggling with the "showStepLabels" property, but then I saw that my Multislider.js is different from this one in the repo. A lot of properties are missing. Am I the only one? What happened?

[2021-08-23 10:49] VinitBhavsar commented on #195
`
<MultiSlider
                                            enabledOne={true} enabledTwo={true}
                                            isMarkersSeparated={true}
                                            onValuesChange={(value) => {
                                                let val = value.toString().split(",")
                                                this.setState({

[2021-08-23 10:55] VinitBhavsar commented on #195
But this also has an issue that if updated values are [50,55].
one slider marker is one left most again and right slider marker set to right most again. even props : values are [50,55] and min={16} max={60}.

It seems markers are not reset to passed updated value;

example:
state : minAge: 18 maxAge: 23

Slider Props:
max={80} min={16} // Silder Values Set to 16-80
values={[minAge, maxAge]}

On Fi

[2021-08-23 11:09] VinitBhavsar opened #245 "Min Max Slider Marker Issue"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce
`
 <MultiSlider
enabledOne={true} enabledTwo={true}
isMarkersSeparated={true}
onValuesChange={(value) => {
  let val = value.toString().split(",")
   thi

[2021-08-24 21:09] benedusi commented on #244
The last release was over an year ago, the code on master is way ahead of that for some reason.

[2021-08-26 09:01] Great-hijack opened #246 "WARN EventEmitter.removeListener('change', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce
Just upgrade react-native to v0.65.1

## Expected Behavior
I won't see the warning.

## Actual Behavior

![image](https://user-images.githubusercontent.c

[2021-08-29 19:06] R4M5E5 commented on #244
Same for me. For example smoothSnapped dosen't exist in the current release.

[2021-09-01 12:31] faizansohail077 commented on #245
Did you find the answer to this ? facing same issue.

[2021-09-01 12:43] VinitBhavsar commented on #245
Nope @faizansohail077

[2021-09-05 14:34] FarzanAkhtar commented on #38
I am having the exact same issue..is there a workaround??

[2021-09-06 16:46] VinitBhavsar commented on #245
@faizansohail077
Try min-max value in single state.
`
minMax: [23,28]
`
Slider Props:
`
 <MultiSlider
enabledOne={true} enabledTwo={true}
isMarkersSeparated={true}
onValuesChange={(value) => { this.setState({ minMax: value }) }}
max={60} min={18}
values={this.state.minMax}
allowOverlap={false}
/>
`

[2021-09-06 16:46] #245 closed

[2021-09-16 09:14] SyedTayyabUlMazhar commented on #237
You just need to do this:

`customLabel={(props) => (<CustomLabel {...props} myProp={some_value} />)}`

[2021-09-18 13:24] Anant5555 commented on #245
Hi Vinit, this one didnt fix it... Were you able the issue? I am facing the same

[2021-09-18 14:09] VinitBhavsar commented on #245
@Anant5555 can you share your code?

[2021-09-27 13:37] ojhansson commented on #207
Did you paste the wrong part of the code? I don't understand how changing customLabel would fix anything

[2021-09-29 03:27] dytra commented on #80
not found

[2021-10-10 12:22] hophoppoppop opened #249 "Color of track before left marker"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

can i make color track from before left marker different than track between marker and after right marker? (like image below
![image](https://user-images.githubusercontent.com

[2021-11-04 11:33] igorwessel commented on #124
Anyone find solution for this?

[2021-11-10 09:12] 0hio-creator commented on #249
@hophoppoppop
Ran into this.
The code as is  doesn't support it.
I made a fork to add this functionality. https://github.com/0hio-creator/react-native-multi-slider

[2021-11-25 08:48] Michael-T30 commented on #214
same problem here! did you find any solution @sanketkalawade?

[2021-12-03 01:17] trevyd23 commented on #214
same here still searching for a solution

[2021-12-09 06:21] Gjoshi3107 opened #252 "Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops."
## Issue:--
Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
  at scheduleWork(node_modules/react-native/Libraries/Renderer/implementations/ReactNativeRenderer-prod.js:5653:5)
  at enqueueSetState(node_modules/react-native/Libraries/

[2021-12-10 08:23] sandlands opened #253 "Right marker disappears when 0"
- [v] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [v] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

I'm using version 2.2.2. I have a MultiSlider with two markers and a range of (let's say) [-10, 10]. The left marker is set to anything below 0 (eg. -5) and the **right marker

[2021-12-10 09:37] sandlands commented on #91
My experience is that this is only a problem on Android. On iOS, the markers are much bigger by default. I fixed it on Android by making the markers a bit bigger. That also solves the problem of being unable to hit the marker. Like this:

[code]

[2021-12-14 09:47] kopax-polyconseil opened #254 "Web accessibility for screen readers"
## Steps to Reproduce

Using react-native-web, I am able to render on the web, however, I cannot controle with `left/down` to reduce by one and `up/right` to increase by one the left/right slider value

## Expected Behavior

I expect to be able to control it with my keyboard

## Actual Behavior

Web is not accessible

[2021-12-15 12:58] pietroanello commented on #152
Hi guys, have someone solved this?

[2022-01-20 12:33] alielmajdaoui commented on #252
Usually this happens when you typing too fast and setting a field value in the state. The same here if you move the marker too fast. One technique to solve this is to use a debouncer.

[2022-02-10 08:49] maartenvandillen opened #257 "Vertical marker not moving"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

On Android the vertical marker is not responding to touches. iOS works fine. I wanted to create a repo that reproduces this but instead I went for another package that does wo

[2022-02-17 10:57] maartenvandillen commented on #257
Back to this package, since the other one has problems capturing the touch input. Slider value goes all over the place when finger leaves the component view.

Could you please check if the vertical slider is working for you on Android?

[2022-02-20 10:31] maartenvandillen commented on #215
@anthlasserre @agunay where is this 2.2.3 release you are talking about? Master is still at 2.2.2.
I am having an issue with vertical mode. Touching and moving the marker is barely working on Android. About once in 25 times the marker moves. After some investigation I found out that disabling the rotation transform (-90deg) touch starts working again, but then the slider is rendered horizontally s

[2022-02-21 13:36] maartenvandillen commented on #215
never mind, I switched to react-native-elements slider component

[2022-02-21 13:51] peerawat-p commented on #173
I add style width border in markerStyle.
it worked.

[code]

[2022-02-24 11:00] Per77070 opened #258 "Markers"
Hi!

The Multislider only shows one marker. How do I make it show two?

Best regards
Per

[2022-03-01 23:50] jcaviedesc commented on #257
Same problem, any solution?

[2022-03-02 10:14] maartenvandillen commented on #257
Yes, I switched to Slider component from react-native-elements package

[2022-03-08 07:38] usamaabutt commented on #258
yes, how to show two markers?

[2022-03-08 07:43] Per77070 commented on #258
Yes, please. :) I would like some help. I tried to follow your example, but I seem to be doing something wrong.

[2022-03-19 14:57] kanelloc commented on #124
Same problem with react navigation'a modal iOS?
Any solution? Tried gesturesEnabled but did not work

[2022-03-19 19:02] LauraSaraiva10 opened #259 "Image disappears when the value changes"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)

- [x]  I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

Hi. In the slider I have an image and whenever the values are updated, the image disappears when the number changes.
I think the problem is in onValuesChange, but I don't kn

[2022-03-24 07:20] KyawSoeHein commented on #258
Give it two values like values=[0,1]. The second marker will appear.

[2022-03-27 14:08] #259 closed

[2022-03-28 06:21] TalalBhatti opened #261 "Discrete Behavior Of Slider."
I want to directly jump to the fourth or fifth value from the first without sliding it. Any solution to this problem? TIA

[2022-03-29 15:37] Gjoshi3107 commented on #257
@maartenvandillen
same issue here, could you please help how to resolve this.
using library:-
@cychiuae/react-native-multi-slider
which is npm package containing version 2.2.5

[2022-03-29 17:34] Gjoshi3107 commented on #257
working corectly on "@ptomasroos/react-native-multi-slider": "^2.2.2"

[2022-04-10 21:04] Deodes opened #262 "When use slider in view with rotation the behaviour is different"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce
Render a view with slider in it, and rotate view('90deg').

## Expected Behavior
Simply slide slider as always

## Actual Behavior
Horizontal gesture for

[2022-04-14 10:53] TamasFarago opened #263 "How to turn this slider into a single value slider?"
- [ ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2022-05-06 13:53] musabgulfam opened #264 "Slider is not smooth"
- [x] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [x] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

The slider is not sliding as expected, it is not sliding smoothly, instead it is sliding in an awkward motion, i.e. it's frequently stopping and sliding.

## Steps to Reproduc

[2022-05-10 17:50] musabgulfam commented on #264
???

[2022-05-10 23:08] JDMathew commented on #264
If you set `smoothSnapped={true}` does this fix your problem? It will then snap on release.

[2022-06-02 11:24] zheoreh opened #265 "Publish actual version"
The latest version of the npm module has been published 2 years ago.
Why do you not publish new versions? You have implements stepLabel and etc but it's available from npm...

[2022-06-02 11:45] ptomasroos commented on #265
Because I've haven't had a RN dev setup for that period of time so its hard for me to QA the release before pushing it. If someone wants to test the current master before a release feel free!

[2022-06-02 15:25] zheoreh opened #266 "Not correct position of step markes and labels"
const stepLength = this.props.sliderLength / (this.optionsArray.length - 1);

It works correct when I specify [0, 20, 40, 60, 80, 100]
but it doesn't work correct when I pass [0, 90, 100]

<img width="318" alt="Screenshot 2022-06-02 at 18 22 02" src="https://user-images.githubusercontent.com/8188225/171663898-0c872ca3-d221-43c9-92ac-c8044e447416.png">

Oh, there is some other issue. The value chan

[2022-06-02 17:42] zheoreh commented on #266
I found snapped prop to resolve the last issue. It should be enabled by default when optionsArray prop is specified

[2022-06-03 13:24] Melber17 commented on #152
I have the same problem

[2022-06-07 11:31] fuadhasanEWU commented on #184
When max and min value same and then try to slide app got crashed and show this error

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Multiplier is not finite!  That's illegal.  multiplier:inf'

[2022-06-10 19:24] Koxx3 commented on #166
hello, could this be integrate in this version please ?

[2022-06-25 22:14] xcoderreal opened #268 "Fix vulnerabilities"
- [X] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [X] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

running example results in "6 vulnerabilities (2 moderate, 2 high, 2 critical)"
after running npm audit fix, "2 critical severity vulnerabilities" remain

## Steps to Reproduc

[2022-06-27 12:10] luluanacarla commented on #166
Is this possible? really need this clickable function and I dont want to change the package hehe

[2022-07-14 00:56] musabgulfam commented on #264
Alright, after a long time, I did observe a solution. Using `onValueChange` props is a bad idea. If you were to make it smooth, use the prop `enableLabel`, with a `customLabel` component which has the min and max values in its props to render the min and max values, and use the `onValueChangeFinish` prop to set the min and max values. So the final solution may look something like this.

[code]

[2022-07-14 00:56] #264 closed

[2022-07-18 10:56] Haider-Ali-7 commented on #266
Hi, how you manage to get placeholder dots like at 90. I want to achieve similar.

[2022-07-31 16:34] fabianschwarzfritz commented on #205
I do have the exact same issue but the `webpack.config` changes did not work for me.

Is there a workaround for this issue?

[2022-08-02 19:36] tonyseing opened #269 "Component does not accept testID"
- [ * ] I have searched [existing issues](https://github.com/ptomasroos/react-native-multi-slider/issues)
- [ ] I am using the [latest multi slider version](https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider)

- The slider component does not accept testID as an input. As a result, e2e tests cannot pick it up. The documentation in the README specifies it as a prop, but when you pas

[2022-08-11 07:52] AustinWood commented on #252
I've encountered same issue and this happens when `value` props value contains null value and it causes app crash.
double check if values array contains null value like simple below

[code]

[2022-08-22 09:37] KrushnaNaghate commented on #238
I tried a lot of things, AFTER 2 Hours I got a solution dear, onToggle is not working In my case so here is the code,

<MultiSlider
                      //  ...
                      onValuesChangeFinish={value =>
                        this.setState({slidervalue: value[0],slidevalue:value[1]},()=>{console.log(value);})
                      }
                      min={0}

[2022-08-29 17:10] superspartak commented on #75
Hey! Was this followed on?

[2022-09-08 13:04] AlixH opened #270 "[Feature request] Add prop to customize third track color"
## Expected Behavior
In the code there is a variable called trackThreeStyle set to unselectedStyle. I'd expect it to be set through a prop

## Actual Behavior
Unable to get three different colors for the range slider (left, middle and right)

This has already been asked in #249 but I'd prefere not to use a fork as a solution (the solution seems pretty easy)

[2022-09-09 11:56] AlixH commented on #125
@LeonSo7 explain at least what you expect to obtain..
_minMarkerOverlapDistance_ is in pixels
_minMarkerOverlapStepDistance_ is in step length

[2022-09-09 12:35] AlixH commented on #88
Use the Dimensions API of RN  if the parent has a fixed known width.
e.g if you parent has a marging of 10 to the screen: Dimensions.get('window').width - 10

[2022-09-09 12:40] AlixH commented on #266
He probably used the optionsArray prop along with showStep, showStepMarkers and showStepLabels

[2022-09-14 14:43] AlixH commented on #263
Pass only one value to the values array
e.g.
two values slider: values = {[3,5]}
one value slider: values = {[5]}

cf. examples folder

[2022-09-15 11:23] Tushar321321 commented on #228
any solution ????

[2022-10-26 16:15] chinmayk3 opened #272 "Build failed : Unsupported class file major version 62"
@alexfoxy @hibrid @hibrid @aneesa @darkbasic

![Screenshot 2022-10-26 at 9 44 33 PM](https://user-images.githubusercontent.com/44341418/198079605-15a8dff6-250e-43e9-b939-f089fb179844.png)

[2022-11-26 18:02] Aryk commented on #124
Yes but that kills the ability to pan down to close.